# Driver file

In [1]:

#importing libraries

import pandas as pd
import numpy as np

In [2]:
#importing driver id file

driverid=pd.read_csv("data/driver_ids.csv")

In [3]:
#check file

driverid.head(10)

                          driver_id  driver_onboard_date
0  002be0ffdc997bd5c50703158b7c2491  2016-03-29 00:00:00
1  007f0389f9c7b03ef97098422f902e62  2016-03-29 00:00:00
2  011e5c5dfc5c2c92501b8b24d47509bc  2016-04-05 00:00:00
3  0152a2f305e71d26cc964f8d4411add9  2016-04-23 00:00:00
4  01674381af7edd264113d4e6ed55ecda  2016-04-29 00:00:00
5  01788cf817698fe68eaecd7eb18b2f72  2016-05-06 00:00:00
6  0213f8b59219e32142711992ca4ec01f  2016-04-07 00:00:00
7  021e5cd15ef0bb3ec20a12af99e142b3  2016-05-07 00:00:00
8  0258e250ca195cc6258cbdc75aecd853  2016-04-26 00:00:00
9  028b5a4dcd7f4924ebfabcf2e814c014  2016-05-06 00:00:00

In [4]:
#check the types

driverid.dtypes

driver_id              object
driver_onboard_date    object
dtype: object

In [5]:
#check dataframe size

driverid.index

RangeIndex(start=0, stop=937, step=1)

In [6]:
#check nulls

driverid.isnull().value_counts()

driver_id  driver_onboard_date
False      False                  937
dtype: int64

In [7]:
#check if driver is unique


driverid['driver_id'].value_counts().sort_values(ascending=False)

16cd1e08be52741e1516cade45ae7754    1
d3121b735af2bb94568c8070aaf05110    1
93587c4ead63454c615f4651e2841ba2    1
01674381af7edd264113d4e6ed55ecda    1
7481015e6b377191f3b1531bc74e6908    1
                                   ..
24b79c598cb070bf049057bd529d3c86    1
67771fd10458c38391b55774826e4c34    1
456467f01492ee1aeb7707de5c725f1c    1
a60115fe0ec8c0e2d4fb8958a28567f6    1
922214b02f8dfbde50e8cdaa187dfd47    1
Name: driver_id, Length: 937, dtype: int64

In [8]:
#change to date time

driverid['driver_onboard_date']=pd.to_datetime(driverid['driver_onboard_date'],errors='coerce')

In [9]:
#confirm

driverid.dtypes

driver_id                      object
driver_onboard_date    datetime64[ns]
dtype: object

In [10]:
#check the year

driverid['driver_onboard_date'].dt.year.value_counts()

2016    937
Name: driver_onboard_date, dtype: int64

In [11]:
#check the month for seasonality

driverid['driver_onboard_date'].dt.month.value_counts()

4    591
5    239
3    107
Name: driver_onboard_date, dtype: int64

In [12]:
#check the day for seasonality

driverid['driver_onboard_date'].dt.day.value_counts()

29    57
5     56
4     50
6     50
12    45
30    44
13    42
11    41
28    38
7     36
14    36
9     34
8     32
31    30
15    29
1     27
10    25
21    24
26    23
20    22
2     22
19    21
22    21
23    20
3     18
17    17
25    17
18    16
27    16
16    15
24    13
Name: driver_onboard_date, dtype: int64

# Rider id

In [13]:
#importing driver id file
riderid=pd.read_csv("data/ride_ids.csv")

In [14]:
#check file

riderid.head(10)

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100
5,002be0ffdc997bd5c50703158b7c2491,03d6b9d80b8a96135cb9b25178e9e203,4832,917,100
6,002be0ffdc997bd5c50703158b7c2491,04053c0ed21761e07f0b869cab5b7dd0,1575,347,0
7,002be0ffdc997bd5c50703158b7c2491,0534d432e0186625f623aaee57af98be,3056,687,25
8,002be0ffdc997bd5c50703158b7c2491,053a1621c0affcd2b9c517af5c2bc843,3940,1143,75
9,002be0ffdc997bd5c50703158b7c2491,066e92c52f59486de56cd7b8716a4ca6,3957,868,50

In [15]:
#check the types

riderid.dtypes

driver_id          object
ride_id            object
ride_distance       int64
ride_duration       int64
ride_prime_time     int64
dtype: object

In [16]:
#check null values

def ridenulls(column):
    return riderid.loc[riderid[column].isnull()]

In [17]:
#call function
#check!!

ridenulls('ride_prime_time')

Empty DataFrame
Columns: [driver_id, ride_id, ride_distance, ride_duration, ride_prime_time]
Index: []

In [18]:
# distance is in meters and duration in seconds, needs conversion

In [19]:
"""Base Fare $2.00
Cost per Mile $1.15
Cost per Minute $0.22
Service Fee $1.75
Minimum Fare $5.00
Maximum Fare $400.00"""

'Base Fare $2.00\nCost per Mile $1.15\nCost per Minute $0.22\nService Fee $1.75\nMinimum Fare $5.00\nMaximum Fare $400.00'

In [20]:
#check column names

riderid.columns

Index(['driver_id', 'ride_id', 'ride_distance', 'ride_duration',
       'ride_prime_time'],
      dtype='object')

In [21]:
riderid.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100

In [22]:
#inser columns with the duration in minutes

riderid["ride_duration_min"]=riderid["ride_duration"]/60

In [23]:
# insert column with the conversion to miles
#1 mile = 1 609.344 meters

riderid["ride_distance_miles"]=riderid["ride_distance"]/1609.344

In [24]:
riderid.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942

In [25]:
"""Base Fare $2.00
Cost per Mile $1.15
Cost per Minute $0.22
Service Fee $1.75
Minimum Fare $5.00
Maximum Fare $400.00"""

'Base Fare $2.00\nCost per Mile $1.15\nCost per Minute $0.22\nService Fee $1.75\nMinimum Fare $5.00\nMaximum Fare $400.00'

In [26]:
#adding the rates

In [27]:
#adding base fare and service fee

riderid["base_fare$"]=2

In [33]:
riderid["duration_ride_revenue$"]=riderid["ride_duration_min"]*0.22

In [34]:
riderid.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles,base_fare$,duration_ride_revenue$
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303,2,1.199000
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050,2,2.966333
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340,2,2.097333
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976,2,12.239333
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942,2,3.017667

In [ ]:
#put the total of the ride and take the 20% and service fee for the ride and service fee
# group by driver id
#take off possible outliers check plot
#check if the ride id is indeed the unique one
#drop some columns 
#check better the prime time

In [28]:
# riderid["total_price_mile$"]

# Rider Time stamps

In [29]:
#importing driver id file

ridertime=pd.read_csv("data/ride_timestamps.csv")

In [31]:
#check file

ridertime.head(10)

                            ride_id           event            timestamp
0  00003037a262d9ee40e61b5c0718f7f0    requested_at  2016-06-13 09:39:19
1  00003037a262d9ee40e61b5c0718f7f0     accepted_at  2016-06-13 09:39:51
2  00003037a262d9ee40e61b5c0718f7f0      arrived_at  2016-06-13 09:44:31
3  00003037a262d9ee40e61b5c0718f7f0    picked_up_at  2016-06-13 09:44:33
4  00003037a262d9ee40e61b5c0718f7f0  dropped_off_at  2016-06-13 10:03:05
5  00005eae40882760d675da5effb89ae3    requested_at  2016-05-14 05:23:21
6  00005eae40882760d675da5effb89ae3     accepted_at  2016-05-14 05:23:25
7  00005eae40882760d675da5effb89ae3      arrived_at  2016-05-14 05:26:17
8  00005eae40882760d675da5effb89ae3    picked_up_at  2016-05-14 05:26:18
9  00005eae40882760d675da5effb89ae3  dropped_off_at  2016-05-14 05:34:17

In [ ]:
#check it out!!! https://stackoverflow.com/questions/58832688/calculate-time-difference-between-two-events-while-disregarding-unmatched-events

In [35]:
# check types

ridertime.dtypes

ride_id      object
event        object
timestamp    object
dtype: object

In [ ]:
#need to transform
#if there is an ideal time difference between requested and accepted OR accepted OR arrived at etc
# also generic from requested to dropped off