# 1. FILES' EXPLORATION

# 1.1. Driver file

In [1]:
#importing libraries

import pandas as pd
import numpy as np

In [2]:
#importing driver id file

driverid=pd.read_csv("data/driver_ids.csv")

In [3]:
#check file

driverid.head()

                          driver_id  driver_onboard_date
0  002be0ffdc997bd5c50703158b7c2491  2016-03-29 00:00:00
1  007f0389f9c7b03ef97098422f902e62  2016-03-29 00:00:00
2  011e5c5dfc5c2c92501b8b24d47509bc  2016-04-05 00:00:00
3  0152a2f305e71d26cc964f8d4411add9  2016-04-23 00:00:00
4  01674381af7edd264113d4e6ed55ecda  2016-04-29 00:00:00

In [4]:
#check the types

driverid.dtypes

driver_id              object
driver_onboard_date    object
dtype: object

In [5]:
#check dataframe size to know the amount of drivers

driverid.index

RangeIndex(start=0, stop=937, step=1)

In [6]:
#check if there are nulls

driverid.isnull().value_counts()

driver_id  driver_onboard_date
False      False                  937
dtype: int64

In [7]:
#check if driver is unique


driverid['driver_id'].value_counts().sort_values(ascending=False)

2b1f99b4f3360623da8fdcd39828122e    1
da8f13b0ebc53fe1147d982f087b5806    1
a12d788b7cd01f696bb5ebf28fa739cc    1
363f684a638dac345e67fbb78e492efc    1
762db27fc4dd1e53dd4fa982ae2162b4    1
                                   ..
6c0555804ebade45096a199f932e949e    1
26efe85697b050171e2ac92d11f75605    1
e246b5012a29db02ad24ce4b7e332b9b    1
bf0a8a6ddc179a9466082343c5862904    1
2aa41b072dc16081ebe60ad5b17f5a4c    1
Name: driver_id, Length: 937, dtype: int64

In [8]:
#change to date time, on board date in the wrong format

driverid['driver_onboard_date']=pd.to_datetime(driverid['driver_onboard_date'],errors='coerce')

In [9]:
#confirm

driverid.dtypes

driver_id                      object
driver_onboard_date    datetime64[ns]
dtype: object

In [10]:
#check the year

driverid['driver_onboard_date'].dt.year.value_counts()

2016    937
Name: driver_onboard_date, dtype: int64

In [11]:
#check the month for seasonality

driverid['driver_onboard_date'].dt.month.value_counts()

4    591
5    239
3    107
Name: driver_onboard_date, dtype: int64

Only 3 months for analysis according to data, 3 months will be the basis for lifetime analysis

In [12]:
#check if there will be a possible day influence, for instance end of the month with more onboardings

driverid['driver_onboard_date'].dt.day.value_counts()

29    57
5     56
4     50
6     50
12    45
30    44
13    42
11    41
28    38
7     36
14    36
9     34
8     32
31    30
15    29
1     27
10    25
21    24
26    23
20    22
2     22
19    21
22    21
23    20
3     18
17    17
25    17
18    16
27    16
16    15
24    13
Name: driver_onboard_date, dtype: int64

# 1.2. Rider id

In [13]:
#importing driver id file

riderid=pd.read_csv("data/ride_ids.csv")

In [14]:
#check file

riderid.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100

In [15]:
#check the types

riderid.dtypes

driver_id          object
ride_id            object
ride_distance       int64
ride_duration       int64
ride_prime_time     int64
dtype: object

In [16]:
#confirm if there anre missing values

def ridenulls(column):
    return riderid.loc[riderid[column].isnull()]

In [17]:
#call function

ridenulls('ride_prime_time')

Empty DataFrame
Columns: [driver_id, ride_id, ride_distance, ride_duration, ride_prime_time]
Index: []

The dataframe seems complete

Distance is in meters and duration in seconds. Both need conversion since the rate card will be in minutes and miles
1 minute = 60 seconds
1 mile = 1609.344 meters

In [18]:
#inser column with the duration in minutes

riderid["ride_duration_min"]=riderid["ride_duration"]/60

In [19]:
# insert column with the distance in miles

riderid["ride_distance_miles"]=riderid["ride_distance"]/1609.344

In [20]:
#inser columns with the duration in minutes

riderid["ride_primetime_min"]=riderid["ride_prime_time"]/60

In [21]:
#confirm both are correct

riderid.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles,ride_primetime_min
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303,0.833333
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050,0.000000
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340,0.000000
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976,0.416667
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942,1.666667

In [22]:
#testing a result as reference

test=riderid.loc[riderid['ride_id']=="00003037a262d9ee40e61b5c0718f7f0"]
test

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles,ride_primetime_min
167241,d967f5296732fa55266b5f1314e7447b,00003037a262d9ee40e61b5c0718f7f0,3698,1112,0,18.533333,2.297831,0.0

The duration is the time difference between picked_up_at and dropped_off_at from another table

## 1.2.1. Adding rates

- **Base Fare** \$2.00
- **Cost per Mile** \$1.15
- **Cost per Minute** \$0.22
- **Service Fee** \$1.75
- **Minimum Fare** \$5.00
- **Maximum Fare** \$400.00

In [23]:
#add base fare

riderid["base_fare$"]=2

In [24]:
#add cost per mile

riderid["distance_ride_revenue$"]=riderid["ride_distance_miles"]*1.15

In [25]:
#add cost per minute

riderid["duration_ride_revenue$"]=riderid["ride_duration_min"]*0.22

In [26]:
#add service fee

riderid["service_fee$"]=1.75

In [27]:
# sum the ride value before the service fee, so base fare plus duration revenue plus distance revenue

riderid["driver_revenue_before_commission$"]=riderid["base_fare$"]+riderid["distance_ride_revenue$"]+riderid["duration_ride_revenue$"]

In [28]:
#confirm

riderid.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles,ride_primetime_min,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,driver_revenue_before_commission$
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303,0.833333,2,1.294099,1.199000,1.75,4.493099
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050,0.000000,2,2.402407,2.966333,1.75,7.368741
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340,0.000000,2,2.345241,2.097333,1.75,6.442575
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976,0.416667,2,46.649722,12.239333,1.75,60.889055
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942,1.666667,2,2.940484,3.017667,1.75,7.958150

# 1.3. Rider Time stamps

In [29]:
#importing driver id file

ridertime=pd.read_csv("data/ride_timestamps.csv")

In [30]:
#check file

ridertime.head()

                            ride_id           event            timestamp
0  00003037a262d9ee40e61b5c0718f7f0    requested_at  2016-06-13 09:39:19
1  00003037a262d9ee40e61b5c0718f7f0     accepted_at  2016-06-13 09:39:51
2  00003037a262d9ee40e61b5c0718f7f0      arrived_at  2016-06-13 09:44:31
3  00003037a262d9ee40e61b5c0718f7f0    picked_up_at  2016-06-13 09:44:33
4  00003037a262d9ee40e61b5c0718f7f0  dropped_off_at  2016-06-13 10:03:05

In [31]:
# check types

ridertime.dtypes

ride_id      object
event        object
timestamp    object
dtype: object

In [32]:
#change timestamp to correct type

ridertime['timestamp']=pd.to_datetime(ridertime['timestamp'],errors='coerce')

In [33]:
# check types

ridertime.dtypes

ride_id              object
event                object
timestamp    datetime64[ns]
dtype: object

In [34]:
#add month

ridertime["month"]=ridertime["timestamp"].dt.month

In [35]:
# check variation

ridertime["month"].value_counts()

5.0    418294
6.0    346486
4.0    199384
3.0      6240
Name: month, dtype: int64

In [36]:
#add day

ridertime["day"]=ridertime["timestamp"].dt.day

In [37]:
# check variation

ridertime["day"].value_counts()

21.0    37040
25.0    36783
15.0    36674
14.0    36555
20.0    36346
26.0    36057
16.0    35572
24.0    35458
17.0    35308
22.0    35098
13.0    34828
23.0    34293
11.0    33543
19.0    32878
10.0    32777
18.0    32595
12.0    32518
7.0     31627
9.0     30766
6.0     30721
4.0     29479
5.0     28832
8.0     28702
3.0     28685
28.0    26637
27.0    26557
2.0     25821
29.0    25775
1.0     24408
30.0    24026
31.0    14045
Name: day, dtype: int64

In [38]:
# add weekday

ridertime["weekday"]=ridertime["timestamp"].dt.weekday

Monday=0, Sunday=6

In [39]:
# check variation

ridertime["weekday"].value_counts()

4.0    170113
5.0    160010
3.0    149367
2.0    137032
1.0    125905
6.0    120157
0.0    107820
Name: weekday, dtype: int64

It seems weekdays more popular are 4 and 5, Friday and Saturday. Further analysis will be performed next

In [40]:
# add hour

ridertime["hour"]=ridertime["timestamp"].dt.hour

In [41]:
# check variation

ridertime["hour"].value_counts()

19.0    70891
18.0    68947
20.0    64591
21.0    64444
22.0    60147
17.0    57222
23.0    48933
9.0     48835
16.0    48074
8.0     44248
10.0    43713
15.0    43087
11.0    41531
12.0    41165
14.0    40080
13.0    39577
0.0     34220
7.0     32742
1.0     24602
6.0     16653
2.0     15173
5.0      8174
3.0      7371
4.0      5984
Name: hour, dtype: int64

Night time seems more popular. Further analysis will be performed next

# 1.3.1: Checking time between events

In [42]:
# create a copy

timedif=ridertime.copy()

The driver pay includes time spend waiting, starting one minute after arrival is confirmed according to Lyft's website.
Therefore, the difference between the events arrived at and picked up at should be taken into consideration.

In [43]:
# create dataframe with the two events only

waiting_time=timedif.groupby(['ride_id'], as_index=False).nth([2,3])

In [44]:
# confirm dataframe

waiting_time.head()

,ride_id,event,timestamp,month,day,weekday,hour
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,6.0,13.0,0.0,9.0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,6.0,13.0,0.0,9.0
7,00005eae40882760d675da5effb89ae3,arrived_at,2016-05-14 05:26:17,5.0,14.0,5.0,5.0
8,00005eae40882760d675da5effb89ae3,picked_up_at,2016-05-14 05:26:18,5.0,14.0,5.0,5.0
12,000061d42cf29f73b591041d9a1b2973,arrived_at,2016-05-16 15:47:29,5.0,16.0,0.0,15.0

In [ ]:
#check time difference between requested and dropped of

waiting_time2=waiting_time.groupby(['ride_id'], as_index=False).timestamp.diff()

In [ ]:
# introduce the ride id again

waiting_time2['rideid']=waiting_time['ride_id']

In [ ]:
#confirm

waiting_time2.head()

In [ ]:
#drop nulls

waiting_time2=waiting_time2.dropna()

In [ ]:
#confirm

waiting_time2

In [ ]:
# convert the timestamp difference to minutes

waiting_time2['waiting_minutes'] = waiting_time2['timestamp'].dt.total_seconds().div(60).astype(int)

In [ ]:
# check sorted values

waiting_time2.sort_values(by=['waiting_minutes'], ascending=False)

In [ ]:
# only keep minutes >=1, that influences lyft revenue

waiting_time2['waiting_minutes'] = np.where(waiting_time2['waiting_minutes'] >= 1, waiting_time2['waiting_minutes'], "Not relevant")

In [ ]:
# drop non relevant

waiting_time2.drop(waiting_time2[waiting_time2['waiting_minutes'] == 'Not relevant'].index, inplace=True)

In [ ]:
# check

waiting_time2["waiting_minutes"].value_counts()

In [ ]:
# change type

waiting_time2["waiting_minutes"] = waiting_time2["waiting_minutes"].astype(float)

In [ ]:
# confirm

waiting_time2.dtypes

Cost per Minute $0.22

In [ ]:
# add the cost for waiting time

waiting_time2["cost_waiting_time$"]=waiting_time2["waiting_minutes"]*0.22

In [ ]:
# confirm

waiting_time2.head()

# 2. ANALYSIS

In this section, the actual data analysis will be performed. 
It is an attemp to answer the questions of the challenge and dig deeper into additional questions

# 2.1. Driver's  Lifetime Value Analysis

The goal of this section is to understand the driver's lifetime value and possible driver clusters

Some assumptions were made, additionally to the 20% commission that Lyft takes from the driver revenue

Minimum fare assumption according to website
If the commission is less that 1 ( minimum fare $5 * 0.2), then it has a decrease commission of 0.8*(5 - drivers revenue before commission taken)
It seems lyft pays the driver if the minimum fare is not reached

Maximum fare assumption according to website
If the commission of lyft is more than 80 ( maximum fare $400 * 0.2), since the max is 400, the revenue is 80 + (driver_revenue_before_commission$-$400)

Lyft gets the total amount of the service fee per ride

Waiting time is added to the revenue

In [ ]:
# check tables to merge

waiting_time2.head()

In [ ]:
riderid.head()

In [ ]:
# in order to add the waiting time, df with waiting time information needs to be merged with ride information

total_revenue_df=riderid.merge(waiting_time2, how="left", left_on="ride_id", right_on="rideid")

In [ ]:
# the nulls from the merge should be replaced with zero

total_revenue_df["cost_waiting_time$"]=total_revenue_df["cost_waiting_time$"].fillna(0)

In [ ]:
#confirm 

total_revenue_df.head()

In [ ]:
# add waiting time revenue to the driver_revenue_before_commission

total_revenue_df["final_driver_revenue_before_commission$"]=total_revenue_df["driver_revenue_before_commission$"]+total_revenue_df["cost_waiting_time$"]

In [ ]:
# check for correlations that can influence the drivers revenue
# investigate possible relations with drivers revenue,as prime time, that can be associated to the satisfaction

total_revenue_df.corr()['final_driver_revenue_before_commission$']

In [ ]:
# to calculate Lyft revenue some columns are not needed

coldrop=["ride_distance","ride_duration","ride_prime_time","ride_duration_min","ride_distance_miles","timestamp","rideid","waiting_minutes","driver_revenue_before_commission$"]
lifetime_revenue_df=total_revenue_df.drop(coldrop, axis=1)

In [ ]:
# confirm

lifetime_revenue_df.head()

In [ ]:
# add column with the 20% commission for Lyft

lifetime_revenue_df["lyft_20_revenue"]=lifetime_revenue_df["final_driver_revenue_before_commission$"]*0.2

In [ ]:
# add the minimum fare condition

lifetime_revenue_df["lyft_20_revenue_min"] = np.where(lifetime_revenue_df["lyft_20_revenue"] < 1,(lifetime_revenue_df["lyft_20_revenue"]-(0.8*(5-lifetime_revenue_df["final_driver_revenue_before_commission$"]))) , lifetime_revenue_df["lyft_20_revenue"])

In [ ]:
# add the maximum fare condition

lifetime_revenue_df["lyft_20_revenue_final"]= np.where(lifetime_revenue_df["lyft_20_revenue"] > 80, (80 + (lifetime_revenue_df["final_driver_revenue_before_commission$"]-400)),lifetime_revenue_df["lyft_20_revenue_min"])

In [ ]:
# check an example

lifetime_revenue_df[lifetime_revenue_df["lyft_20_revenue"]>80]

In [ ]:
# one last fee needs to be added, the service fee

lifetime_revenue_df["lyft_total_revenue_ride$"]=lifetime_revenue_df["lyft_20_revenue_final"]+lifetime_revenue_df["service_fee$"]

In [ ]:
# check

lifetime_revenue_df.head()

In [ ]:
# calculate the average rides per driver and revenue per ride

driver_mean_df = lifetime_revenue_df.groupby(['driver_id'], as_index = False).agg({ 'ride_id':'count','lyft_total_revenue_ride$': 'mean'}).sort_values(by='lyft_total_revenue_ride$', ascending = False)

In [ ]:
# check

driver_mean_df

In [ ]:
# average earnings per ride per driver

driver_mean_df["lyft_total_revenue_ride$"].mean()

In [ ]:
# average rides per driver

driver_mean_df["ride_id"].mean()

Further analysis to cluster the drivers as occasional, average and frequent drivers

In [ ]:
# create a cluster for occasional, average and frequent drivers

driver_frequency_lifetime_df = lifetime_revenue_df.groupby(['driver_id'], as_index = False).agg({ 'ride_id':'count','lyft_total_revenue_ride$': 'mean'}).sort_values(by='ride_id', ascending = False)

In [ ]:
# check

driver_frequency_lifetime_df

In [ ]:
# for the lifetime average, check average count of rides and revenue per ride

lifetime_stats=driver_frequency_lifetime_df.describe().transpose()
lifetime_stats

In [ ]:
# average driver's lifetime value

total_avg_lifetime_value=206.512273*3.708748
total_avg_lifetime_value

In [ ]:
# check the descriptive statistics in order to create the clusters

descriptive=driver_frequency_lifetime_df["ride_id"].describe().transpose()

descriptive

In [ ]:
# segmentation

print("25 percentil:", descriptive["25%"])
print("75 percentil:", descriptive["75%"])

Decided to create the driver segments using the 25th and 75th percentil 
Outliers were kept due to nature of the business

Driver`s lifetime value for each segment of drivers will be calculated, based on:
- Occasional driver =< 47 rides
- 47 < Average driver < 316
- Frequent driver >= 316

In [ ]:
# occasional drivers

occasional_df=driver_frequency_lifetime_df.loc[(driver_frequency_lifetime_df["ride_id"]<=47)]

In [ ]:
# confirm

occasional_df

In [ ]:
# check the average lifetime value of an occasional driver

occasional_df_stats=occasional_df.describe().transpose()
occasional_df_stats

In [ ]:
# occasional driver lifetime value taken into consideration the average amount of rides and the average revenue per ride

occasional_avg_lifetime=35.987755*3.698817
occasional_avg_lifetime

In [ ]:
# average driver

average_df=driver_frequency_lifetime_df.loc[(driver_frequency_lifetime_df["ride_id"]>47)&(driver_frequency_lifetime_df["ride_id"]<316)]

In [ ]:
# check the average lifetime value of an average driver

average_df_stats=average_df.describe().transpose()
average_df_stats

In [ ]:
# average driver lifetime value taken into consideration the average amount of rides and the average revenue per ride

average_avg_lifetime=173.419780*3.740202
average_avg_lifetime

In [ ]:
# frequent drivers

frequent_df=driver_frequency_lifetime_df.loc[(driver_frequency_lifetime_df["ride_id"]>316)]

In [ ]:
# check the average lifetime value of a frequent driver

frequent_df_stats=frequent_df.describe().transpose()
frequent_df_stats

In [ ]:
# average driver lifetime value taken into consideration the average amount of rides and the average revenue per ride

frequent_avg_lifetime=447.995726*3.656184
frequent_avg_lifetime

# 2.2. Projected lifetime - days/time analysis

The goal is to understand how many days tend to pass by from onboarding until last ride

In [ ]:
# merge tables to get the orboarded time until last recorded drive

mergeids=driverid.merge(riderid, left_on="driver_id", right_on="driver_id")

In [ ]:
# check

mergeids.head()

In [ ]:
# further merge needed

mergeids2=mergeids.merge(timedif, left_on="ride_id", right_on="ride_id")

In [ ]:
# check

mergeids2.head()

In [ ]:
# drop unnecessary columns 

onboarding_lastridedf = mergeids2.drop(["ride_distance","ride_duration","ride_prime_time","ride_duration_min","ride_distance_miles","base_fare$","duration_ride_revenue$","distance_ride_revenue$","service_fee$","driver_revenue_before_commission$","month","day","weekday","hour"], axis=1)

onboarding_lastridedf.head()

In [ ]:
# check the date difference, only last timestamp needed for this goal

last_ride = onboarding_lastridedf.sort_values('timestamp').groupby(['driver_id'], as_index=False).last()

In [ ]:
# confirm only dropped off stayed

last_ride.head()

In [ ]:
# check the types for calculation

last_ride.dtypes

In [ ]:
# put in the same type

last_ride['timestamp'] = last_ride['timestamp'].dt.date
last_ride['driver_onboard_date'] = last_ride['driver_onboard_date'].dt.date

In [ ]:
# calculate 

last_ride["time_onboard_to_last_ride"]=last_ride["timestamp"]-last_ride["driver_onboard_date"]

In [ ]:
last_ride.head(5)

In [ ]:
# import libraries for plotting and stats

import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [ ]:
# convert the time from onboard until last ride into int to plot

last_ride["time_onboard_to_last_ride"]=last_ride["time_onboard_to_last_ride"].dt.days

In [ ]:
# confirm

last_ride.dtypes

In [ ]:
# check average for reference

meanline=last_ride["time_onboard_to_last_ride"].mean()
meanline

In [ ]:
#plot checking for trends

fig, ax = plt.subplots(figsize=(8,4))
sns.barplot(data=last_ride,
                x="driver_id",
                y="time_onboard_to_last_ride",
                order=last_ride.sort_values('time_onboard_to_last_ride').driver_id,
                palette="rocket",
                ax=ax);
ax.axhline (meanline, color="black")
plt.xlabel("Drivers", size=10)
plt.ylabel("Time from onboarding until last ride (days)", size=10)
plt.title("Driver`s Lifetime", size=15)

In [ ]:
# create a dataframe just with days

driver_onboarding_df=last_ride[["driver_id","time_onboard_to_last_ride"]]

In [ ]:
# new merged dataframe to check for correlation between amount of rides and time staying on board

avg_nr_rides_df=driver_onboarding_df.merge(driver_frequency_lifetime_df, left_on="driver_id", right_on="driver_id")
avg_nr_rides_df.columns=["driver_id","time_onboard_to_last_ride","number_of_rides","lyft_total_revenue_ride$"]
avg_nr_rides_df.head()

In [ ]:
# correlation

avg_nr_rides_df.corr()['time_onboard_to_last_ride']

In [ ]:
# scatter plot number of rides and working days

fig, ax = plt.subplots(figsize=(10,6))
sns.scatterplot(data=avg_nr_rides_df,
                x="time_onboard_to_last_ride",
                y="number_of_rides",
                color="magenta",
                ax=ax);

plt.xlabel("Number of days from onboard until last ride", size=10)
plt.ylabel("Number of rides", size=10)
plt.title("Relationship Between Number of Active Days and Rides per Driver", size=15)

In [ ]:
# scatter plot for revenue and number of rides

fig, ax = plt.subplots(figsize=(10,6))
sns.scatterplot(data=avg_nr_rides_df,
                x="time_onboard_to_last_ride",
                y="lyft_total_revenue_ride$",
                color="magenta",
                ax=ax);

plt.xlabel("Number of days from onboard until last ride", size=10)
plt.ylabel("Lyft revenue", size=10)
plt.title("Relationship between number of days working and rides per driver", size=15)

In [ ]:
# check linear regression with both

avg_nr_rides_df2=avg_nr_rides_df.copy()

avg_nr_rides_df2=sm.add_constant(avg_nr_rides_df2)
y=avg_nr_rides_df2["time_onboard_to_last_ride"]
X=avg_nr_rides_df2[["const", "number_of_rides","lyft_total_revenue_ride$"]]

reg=sm.OLS(y, X).fit()

reg.summary()

Not a strong correlation in general, some clusters would probably have stronger correlations

# 2.3. Churn Analysis

The goal is to have a deeper understanding of the driver's churn and potential predictive indications. 
Critical churn weeks are checked in the section.

In [ ]:
# check dataframe

avg_nr_rides_df.head()

In [ ]:
# check types

avg_nr_rides_df.dtypes

In [ ]:
# check number of drivers for the total

length=len(avg_nr_rides_df.index)
length

In [ ]:
# function to check dataframe

def df_final_drive(days):
    return avg_nr_rides_df.loc[(avg_nr_rides_df["time_onboard_to_last_ride"]<=days)]

df_final_drive(7)

In [ ]:
# function to check how many drivers stopped driving after X days

def time_rider(days):
    time_rider_df=avg_nr_rides_df.loc[(avg_nr_rides_df["time_onboard_to_last_ride"]<=days)]
    return len(time_rider_df.index)

In [ ]:
# call function

time_rider(7)

In [ ]:
# import library to round

import math

Check some churn rates for reference

In [ ]:
# after 7 days

churn=math.floor((time_rider(7)/length)*100)
print ("churn:", churn, "%")

In [ ]:
# after 28 days

churn=math.floor((time_rider(28)/length)*100)
print ("churn:", churn, "%")

In [ ]:
# after 42 days

churn=math.floor((time_rider(42)/length)*100)
print ("churn:", churn, "%")

In [ ]:
# after 56 days

churn=math.floor((time_rider(56)/length)*100)
print ("churn:", churn, "%")

In [ ]:
# after 63 days

churn=math.floor((time_rider(63)/length)*100)
print ("churn:", churn, "%")

In [ ]:
# after 70 days

churn=math.floor((time_rider(70)/length)*100)
print ("churn:", churn, "%")

In [ ]:
# after 90 days

churn=math.floor((time_rider(90)/length)*100)
print ("churn:", churn, "%")

In [ ]:
# set conditions looking into the data to look at critical weeks

conditions = [
    (avg_nr_rides_df['time_onboard_to_last_ride'] <= 7),
    ((avg_nr_rides_df['time_onboard_to_last_ride']<= 14)),
    ((avg_nr_rides_df['time_onboard_to_last_ride'] <= 21)),
    ((avg_nr_rides_df['time_onboard_to_last_ride'] <= 28)),
    ((avg_nr_rides_df['time_onboard_to_last_ride'] <= 35)),
    ((avg_nr_rides_df['time_onboard_to_last_ride'] <= 42)),
    ((avg_nr_rides_df['time_onboard_to_last_ride'] <= 49)),
    ((avg_nr_rides_df['time_onboard_to_last_ride'] <= 56)),
    ((avg_nr_rides_df['time_onboard_to_last_ride'] <= 63)),
    ((avg_nr_rides_df['time_onboard_to_last_ride'] <= 70)),
    ((avg_nr_rides_df['time_onboard_to_last_ride'] <= 77)),
    ((avg_nr_rides_df['time_onboard_to_last_ride'] <= 84)),
    (avg_nr_rides_df['time_onboard_to_last_ride'] > 84)
]

choices = [
    '1',
    '2',
    '3',
    '4',
    '5',
    '6',
    '7',
    '8',
    '9',
    '10',
    '11',
    '12',
    '12+'
]

avg_nr_rides_df["number_weeks_leaving"] = np.select(conditions, choices, "error")

In [ ]:
# confirm new column

avg_nr_rides_df.head()

In [ ]:
# plot to check number of drivers leaving after X weeks from onboard

sns.countplot(data=avg_nr_rides_df,
                y="number_weeks_leaving",
                order=avg_nr_rides_df["number_weeks_leaving"].value_counts().index,
                palette="rocket");

plt.xlabel("Number of drivers off-boarding", size=10)
plt.ylabel("Week of off-boarding", size=10)
plt.title("Driver's Churn", size=15)

# 2.4. Weekday, day and hour analysis

The goal is to check if there are weekdays, days and hours with more demand

In [ ]:
# call df

ridertime.head()

In [ ]:
# count just the drop off, to count just one ride

time_per_ride_df = ridertime.sort_values('timestamp').groupby(['ride_id'], as_index=False).last()

In [ ]:
# merge to have it with revenue and time

time_driver_ride_df=lifetime_revenue_df.merge(time_per_ride_df, left_on="ride_id", right_on="ride_id")

In [ ]:
# check all info

time_driver_ride_df.head()

In [ ]:
# analyse weekday and time

weekday_time_df=time_driver_ride_df.groupby(["driver_id","weekday","hour"], as_index = False).agg({"ride_id":"count"}).sort_values(by="ride_id", ascending=False)

In [ ]:
#confirm

weekday_time_df.head(10)

In [ ]:
# further analyse weekday and time, with correct weekday and hours

weekday_time_df2=time_driver_ride_df.groupby(["weekday","hour"], as_index = False).agg({"ride_id":"count"}).sort_values(by="ride_id", ascending=False)
weekday_time_df2["hour"]=weekday_time_df2["hour"].astype("int")
weekday_time_df2["weekday"]=weekday_time_df2["weekday"].replace([0, 1, 2, 3, 4, 5, 6], ["Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday","Sunday"])

In [ ]:
# check dataframe

weekday_time_df2.head()

In [ ]:
# plot checking for trends


g=sns.catplot(data=weekday_time_df2,
                x="weekday",
                y="ride_id",
                hue="hour",
                kind="swarm",
                palette="rocket");
g.set_xticklabels(rotation=45)
plt.xlabel("Weekday", size=10)
plt.ylabel("Number of rides", size=10)
plt.title("Number of  Rides per Weekday and Hour", size=15)

Friday and Saturday evenings seem like the most popular times

In [ ]:
# does it pay off for the driver? check the times are usually

weekday_time_df3=time_driver_ride_df.groupby(["weekday","hour"], as_index = False).agg({"ride_id":"count","final_driver_revenue_before_commission$":"mean"}).sort_values(by="final_driver_revenue_before_commission$", ascending=False)

weekday_time_df3.head(10)

Late night/ early mornings are the ones where the revenue for the driver is higher in average, but there are less rides happening as expected

In [ ]:
# does it pay off for lyft? analysis of the average revenue per ride

weekday_time_df4=time_driver_ride_df.groupby(["weekday","hour"], as_index = False).agg({"ride_id":"count","lyft_total_revenue_ride$":"mean"}).sort_values(by="lyft_total_revenue_ride$", ascending=False)

weekday_time_df4.head(10)

As expected, similar to the driver's revenue

In [ ]:
# check predictive total revenues at a certain time with the total amout of rides and the average earning per ride

weekday_rev_df=weekday_time_df4.copy()

weekday_rev_df["hour"]=weekday_rev_df["hour"].astype("int")
weekday_rev_df["weekday"]=weekday_rev_df["weekday"].replace([0, 1, 2, 3, 4, 5, 6], ["Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday","Sunday"])
weekday_rev_df["total_predicted_revenue"]=weekday_rev_df["ride_id"]*weekday_rev_df["lyft_total_revenue_ride$"]
weekday_rev_df.sort_values(by="total_predicted_revenue", ascending=False)

The results are very similar to the demand of rides per hour.
It makeses sense given the margins that the fact that there are much more rides brings higher revenue

In [ ]:
# plot checking for trends, looking into the total count per hour and weekday


g=sns.catplot(data=weekday_time_df2,
                x="weekday",
                y="ride_id",
                hue="hour",
                kind="swarm",
                palette="rocket");
g.set_xticklabels(rotation=45)
plt.xlabel("Weekday", size=10)
plt.ylabel("Number of rides", size=10)
plt.title("Number of  Rides per Weekday and Hour", size=15)

In [ ]:
# further analyses with day and time, check if some holiday could influence it for instance

weekday_time_df5=time_driver_ride_df.groupby(["month","day","hour"], as_index = False).agg({"ride_id":"count"}).sort_values(by="ride_id", ascending=False)

weekday_time_df5.head()

In [ ]:
#check deeper without the hour to see overall trend

weekday_time_df6=time_driver_ride_df.groupby(["month","day"], as_index = False).agg({"ride_id":"count"}).sort_values(by="ride_id", ascending=False)

weekday_time_df6.head(10)

No major events that could explain higher demand found

In [ ]:
#check if there were events that could explain lack of demand

weekday_time_df6.tail()

Again, no major events. A potential gun shot found but probably not significant affect demaind by the end of March.
There was a tornado in the end of March in some US regions, but not enough information about location to correlate with this.

In [ ]:
# Prime time analysis - are there hours that more driver`s should be incentivised to be available?

weekday_time_df7=time_driver_ride_df.groupby(["weekday","hour"], as_index = False).agg({"ride_primetime_min":"sum"}).sort_values(by="ride_primetime_min", ascending=False)

In [ ]:
# prepare to plot

weekday_time_df7["hour"]=weekday_time_df7["hour"].astype("int")
weekday_time_df7["weekday"]=weekday_time_df7["weekday"].replace([0, 1, 2, 3, 4, 5, 6], ["Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday","Sunday"])

In [ ]:
# check

weekday_time_df7.head(10)

In [ ]:
# plot checking for trends, looking into the total count per hour and weekday


g=sns.catplot(data=weekday_time_df7,
                x="weekday",
                y="ride_primetime_min",
                hue="hour",
                kind="swarm",
                palette="rocket");
g.set_xticklabels(rotation=45)
plt.xlabel("Weekday", size=10)
plt.ylabel("Prime Time (min)", size=10)
plt.title("Total Prime Time per Weekday and Hour", size=15)

# 2.5. Timeseries and Churn Analysis

In [ ]:
# create copy

churn_predictdf=onboarding_lastridedf.copy()

In [ ]:
# put the timestamp in the best format

churn_predictdf['date']=churn_predictdf['timestamp'].dt.date

In [ ]:
# select only one even of the ride

churn_predictdf=churn_predictdf.loc[churn_predictdf["event"]=="dropped_off_at"]

churn_predictdf.head()

In [ ]:
churn_predictdf2=churn_predictdf.groupby(["driver_id","driver_onboard_date","date"], as_index=False).agg({'ride_id':'count'})

In [ ]:
# confirm dataframe

churn_predictdf2

In [ ]:
# check one random driver

churn_predictdf2.loc[churn_predictdf2["driver_id"]=="002be0ffdc997bd5c50703158b7c2491"]

In [ ]:
# check another driver

churn_predictdf2.loc[churn_predictdf2["driver_id"]=="ffff51a71f2f185ec5e97d59dbcd7a78"]

It would be interesting to check deeper the number of ride drops closer to offboarding