# Driver file

In [1]:

#importing libraries

import pandas as pd
import numpy as np

In [2]:
#importing driver id file

driverid=pd.read_csv("data/driver_ids.csv")

In [3]:
#check file

driverid.head(10)

                          driver_id  driver_onboard_date
0  002be0ffdc997bd5c50703158b7c2491  2016-03-29 00:00:00
1  007f0389f9c7b03ef97098422f902e62  2016-03-29 00:00:00
2  011e5c5dfc5c2c92501b8b24d47509bc  2016-04-05 00:00:00
3  0152a2f305e71d26cc964f8d4411add9  2016-04-23 00:00:00
4  01674381af7edd264113d4e6ed55ecda  2016-04-29 00:00:00
5  01788cf817698fe68eaecd7eb18b2f72  2016-05-06 00:00:00
6  0213f8b59219e32142711992ca4ec01f  2016-04-07 00:00:00
7  021e5cd15ef0bb3ec20a12af99e142b3  2016-05-07 00:00:00
8  0258e250ca195cc6258cbdc75aecd853  2016-04-26 00:00:00
9  028b5a4dcd7f4924ebfabcf2e814c014  2016-05-06 00:00:00

                          driver_id  driver_onboard_date
0  002be0ffdc997bd5c50703158b7c2491  2016-03-29 00:00:00
1  007f0389f9c7b03ef97098422f902e62  2016-03-29 00:00:00
2  011e5c5dfc5c2c92501b8b24d47509bc  2016-04-05 00:00:00
3  0152a2f305e71d26cc964f8d4411add9  2016-04-23 00:00:00
4  01674381af7edd264113d4e6ed55ecda  2016-04-29 00:00:00
5  01788cf817698fe68eaecd7eb18b2f72  2016-05-06 00:00:00
6  0213f8b59219e32142711992ca4ec01f  2016-04-07 00:00:00
7  021e5cd15ef0bb3ec20a12af99e142b3  2016-05-07 00:00:00
8  0258e250ca195cc6258cbdc75aecd853  2016-04-26 00:00:00
9  028b5a4dcd7f4924ebfabcf2e814c014  2016-05-06 00:00:00

In [4]:
#check the types

driverid.dtypes

driver_id              object
driver_onboard_date    object
dtype: object

driver_id              object
driver_onboard_date    object
dtype: object

In [5]:
#check dataframe size

driverid.index

RangeIndex(start=0, stop=937, step=1)

RangeIndex(start=0, stop=937, step=1)

In [6]:
#check nulls

driverid.isnull().value_counts()

driver_id  driver_onboard_date
False      False                  937
dtype: int64

driver_id  driver_onboard_date
False      False                  937
dtype: int64

In [7]:
#check if driver is unique


driverid['driver_id'].value_counts().sort_values(ascending=False)

04d686ef2fba281e395992a28f14fdd3    1
6580de4a0be125c140c30436c7c2c988    1
378f8bfcef6759b1e6b0e66b04424f54    1
e0493acb44c53e68e3c3aca626cd466b    1
fd39748ba122e84e9ac492e6fb7c7a05    1
                                   ..
1805f90c5220ac830835df3309a76e78    1
0430df9a3eb327122c57ee3a64765000    1
794a74f41f18a115252fd26bbd16882b    1
aab4ab866a771d21006a07cfff585eff    1
c6ea9e05de9e221aed059ccc8ad5f6bb    1
Name: driver_id, Length: 937, dtype: int64

04d686ef2fba281e395992a28f14fdd3    1
6580de4a0be125c140c30436c7c2c988    1
378f8bfcef6759b1e6b0e66b04424f54    1
e0493acb44c53e68e3c3aca626cd466b    1
fd39748ba122e84e9ac492e6fb7c7a05    1
                                   ..
1805f90c5220ac830835df3309a76e78    1
0430df9a3eb327122c57ee3a64765000    1
794a74f41f18a115252fd26bbd16882b    1
aab4ab866a771d21006a07cfff585eff    1
c6ea9e05de9e221aed059ccc8ad5f6bb    1
Name: driver_id, Length: 937, dtype: int64

In [8]:
#change to date time

driverid['driver_onboard_date']=pd.to_datetime(driverid['driver_onboard_date'],errors='coerce')

In [9]:
#confirm

driverid.dtypes

driver_id                      object
driver_onboard_date    datetime64[ns]
dtype: object

driver_id                      object
driver_onboard_date    datetime64[ns]
dtype: object

In [10]:
#check the year

driverid['driver_onboard_date'].dt.year.value_counts()

2016    937
Name: driver_onboard_date, dtype: int64

2016    937
Name: driver_onboard_date, dtype: int64

In [11]:
#check the month for seasonality

driverid['driver_onboard_date'].dt.month.value_counts()

4    591
5    239
3    107
Name: driver_onboard_date, dtype: int64

4    591
5    239
3    107
Name: driver_onboard_date, dtype: int64

In [12]:
#check the day for seasonality

driverid['driver_onboard_date'].dt.day.value_counts()

29    57
5     56
4     50
6     50
12    45
30    44
13    42
11    41
28    38
7     36
14    36
9     34
8     32
31    30
15    29
1     27
10    25
21    24
26    23
20    22
2     22
19    21
22    21
23    20
3     18
17    17
25    17
18    16
27    16
16    15
24    13
Name: driver_onboard_date, dtype: int64

29    57
5     56
4     50
6     50
12    45
30    44
13    42
11    41
28    38
7     36
14    36
9     34
8     32
31    30
15    29
1     27
10    25
21    24
26    23
20    22
2     22
19    21
22    21
23    20
3     18
17    17
25    17
18    16
27    16
16    15
24    13
Name: driver_onboard_date, dtype: int64

# Rider id

In [13]:
#importing driver id file
riderid=pd.read_csv("data/ride_ids.csv")

In [14]:
#check file

riderid.head(10)

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100
5,002be0ffdc997bd5c50703158b7c2491,03d6b9d80b8a96135cb9b25178e9e203,4832,917,100
6,002be0ffdc997bd5c50703158b7c2491,04053c0ed21761e07f0b869cab5b7dd0,1575,347,0
7,002be0ffdc997bd5c50703158b7c2491,0534d432e0186625f623aaee57af98be,3056,687,25
8,002be0ffdc997bd5c50703158b7c2491,053a1621c0affcd2b9c517af5c2bc843,3940,1143,75
9,002be0ffdc997bd5c50703158b7c2491,066e92c52f59486de56cd7b8716a4ca6,3957,868,50

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100
5,002be0ffdc997bd5c50703158b7c2491,03d6b9d80b8a96135cb9b25178e9e203,4832,917,100
6,002be0ffdc997bd5c50703158b7c2491,04053c0ed21761e07f0b869cab5b7dd0,1575,347,0
7,002be0ffdc997bd5c50703158b7c2491,0534d432e0186625f623aaee57af98be,3056,687,25
8,002be0ffdc997bd5c50703158b7c2491,053a1621c0affcd2b9c517af5c2bc843,3940,1143,75
9,002be0ffdc997bd5c50703158b7c2491,066e92c52f59486de56cd7b8716a4ca6,3957,868,50

In [15]:
#check the types

riderid.dtypes

driver_id          object
ride_id            object
ride_distance       int64
ride_duration       int64
ride_prime_time     int64
dtype: object

driver_id          object
ride_id            object
ride_distance       int64
ride_duration       int64
ride_prime_time     int64
dtype: object

In [16]:
#check null values

def ridenulls(column):
    return riderid.loc[riderid[column].isnull()]

In [17]:
#call function
#check!!

ridenulls('ride_prime_time')

Empty DataFrame
Columns: [driver_id, ride_id, ride_distance, ride_duration, ride_prime_time]
Index: []

Empty DataFrame
Columns: [driver_id, ride_id, ride_distance, ride_duration, ride_prime_time]
Index: []

In [18]:
# distance is in meters and duration in seconds, needs conversion

In [19]:
"""Base Fare $2.00
Cost per Mile $1.15
Cost per Minute $0.22
Service Fee $1.75
Minimum Fare $5.00
Maximum Fare $400.00"""

'Base Fare $2.00\nCost per Mile $1.15\nCost per Minute $0.22\nService Fee $1.75\nMinimum Fare $5.00\nMaximum Fare $400.00'

'Base Fare $2.00\nCost per Mile $1.15\nCost per Minute $0.22\nService Fee $1.75\nMinimum Fare $5.00\nMaximum Fare $400.00'

In [20]:
#check column names

riderid.columns

Index(['driver_id', 'ride_id', 'ride_distance', 'ride_duration',
       'ride_prime_time'],
      dtype='object')

Index(['driver_id', 'ride_id', 'ride_distance', 'ride_duration',
       'ride_prime_time'],
      dtype='object')

In [21]:
riderid.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100

In [22]:
#inser columns with the duration in minutes

riderid["ride_duration_min"]=riderid["ride_duration"]/60

In [23]:
# insert column with the conversion to miles
#1 mile = 1 609.344 meters

riderid["ride_distance_miles"]=riderid["ride_distance"]/1609.344

In [24]:
riderid.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942

In [25]:
test=riderid.loc[riderid['ride_id']=="00003037a262d9ee40e61b5c0718f7f0"]

In [26]:
test

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles
167241,d967f5296732fa55266b5f1314e7447b,00003037a262d9ee40e61b5c0718f7f0,3698,1112,0,18.533333,2.297831

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles
167241,d967f5296732fa55266b5f1314e7447b,00003037a262d9ee40e61b5c0718f7f0,3698,1112,0,18.533333,2.297831

In [27]:
#the duration is the time difference between picked_up_at and dropped_off_at

In [28]:
np.where(riderid.ride_id == "00003037a262d9ee40e61b5c0718f7f0", riderid.ride_duration_min, "fail")

array(['fail', 'fail', 'fail', ..., 'fail', 'fail', 'fail'], dtype='<U32')

array(['fail', 'fail', 'fail', ..., 'fail', 'fail', 'fail'], dtype='<U32')

# adding the rates

In [29]:
"""Base Fare $2.00
Cost per Mile $1.15
Cost per Minute $0.22
Service Fee $1.75
Minimum Fare $5.00
Maximum Fare $400.00"""

'Base Fare $2.00\nCost per Mile $1.15\nCost per Minute $0.22\nService Fee $1.75\nMinimum Fare $5.00\nMaximum Fare $400.00'

'Base Fare $2.00\nCost per Mile $1.15\nCost per Minute $0.22\nService Fee $1.75\nMinimum Fare $5.00\nMaximum Fare $400.00'

In [30]:
#add base fare

riderid["base_fare$"]=2

In [31]:
#add cost per mile

riderid["distance_ride_revenue$"]=riderid["ride_distance_miles"]*1.15

In [32]:
#add cost per minute

riderid["duration_ride_revenue$"]=riderid["ride_duration_min"]*0.22

In [33]:
#add service fee

riderid["service_fee$"]=1.75

In [34]:
# sum the ride value before the service fee, so base fare plus duration revenue plus distance revenue

riderid["driver_revenue_before_commission$"]=riderid["base_fare$"]+riderid["distance_ride_revenue$"]+riderid["duration_ride_revenue$"]

In [35]:
# IMPORTANT

# if the commission of lyft is less that 1 (minimum fare 5* 0.2), then it has a decrease commission of 5 - driver_revenue_before_commission$
#it seems lyft pays the driver if the minimum is not reached
# if if the commission of lyft is more than 80 ( maximum fare 400 * 0.2), since the max is 400, the revenue is 80 + (driver_revenue_before_commission$-80)

In [36]:
riderid.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,driver_revenue_before_commission$
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303,2,1.294099,1.199000,1.75,4.493099
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050,2,2.402407,2.966333,1.75,7.368741
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340,2,2.345241,2.097333,1.75,6.442575
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976,2,46.649722,12.239333,1.75,60.889055
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942,2,2.940484,3.017667,1.75,7.958150

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,driver_revenue_before_commission$
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303,2,1.294099,1.199000,1.75,4.493099
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050,2,2.402407,2.966333,1.75,7.368741
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340,2,2.345241,2.097333,1.75,6.442575
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976,2,46.649722,12.239333,1.75,60.889055
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942,2,2.940484,3.017667,1.75,7.958150

In [37]:
#put the total of the ride and take the 20% and service fee for the ride and service fee
# group by driver id
#take off possible outliers check plot
#check if the ride id is indeed the unique one
#drop some columns 
#check better the prime time

In [38]:
# riderid["total_price_mile$"]

# Rider Time stamps

In [39]:
#importing driver id file

ridertime=pd.read_csv("data/ride_timestamps.csv")

In [40]:
#check file

ridertime.head(10)

                            ride_id           event            timestamp
0  00003037a262d9ee40e61b5c0718f7f0    requested_at  2016-06-13 09:39:19
1  00003037a262d9ee40e61b5c0718f7f0     accepted_at  2016-06-13 09:39:51
2  00003037a262d9ee40e61b5c0718f7f0      arrived_at  2016-06-13 09:44:31
3  00003037a262d9ee40e61b5c0718f7f0    picked_up_at  2016-06-13 09:44:33
4  00003037a262d9ee40e61b5c0718f7f0  dropped_off_at  2016-06-13 10:03:05
5  00005eae40882760d675da5effb89ae3    requested_at  2016-05-14 05:23:21
6  00005eae40882760d675da5effb89ae3     accepted_at  2016-05-14 05:23:25
7  00005eae40882760d675da5effb89ae3      arrived_at  2016-05-14 05:26:17
8  00005eae40882760d675da5effb89ae3    picked_up_at  2016-05-14 05:26:18
9  00005eae40882760d675da5effb89ae3  dropped_off_at  2016-05-14 05:34:17

                            ride_id           event            timestamp
0  00003037a262d9ee40e61b5c0718f7f0    requested_at  2016-06-13 09:39:19
1  00003037a262d9ee40e61b5c0718f7f0     accepted_at  2016-06-13 09:39:51
2  00003037a262d9ee40e61b5c0718f7f0      arrived_at  2016-06-13 09:44:31
3  00003037a262d9ee40e61b5c0718f7f0    picked_up_at  2016-06-13 09:44:33
4  00003037a262d9ee40e61b5c0718f7f0  dropped_off_at  2016-06-13 10:03:05
5  00005eae40882760d675da5effb89ae3    requested_at  2016-05-14 05:23:21
6  00005eae40882760d675da5effb89ae3     accepted_at  2016-05-14 05:23:25
7  00005eae40882760d675da5effb89ae3      arrived_at  2016-05-14 05:26:17
8  00005eae40882760d675da5effb89ae3    picked_up_at  2016-05-14 05:26:18
9  00005eae40882760d675da5effb89ae3  dropped_off_at  2016-05-14 05:34:17

In [41]:
#check it out!!! https://stackoverflow.com/questions/58832688/calculate-time-difference-between-two-events-while-disregarding-unmatched-events

In [42]:
# check types

ridertime.dtypes

ride_id      object
event        object
timestamp    object
dtype: object

ride_id      object
event        object
timestamp    object
dtype: object

In [43]:
#change timestamp to correct type

ridertime['timestamp']=pd.to_datetime(ridertime['timestamp'],errors='coerce')

In [44]:
ridertime.dtypes

ride_id              object
event                object
timestamp    datetime64[ns]
dtype: object

ride_id              object
event                object
timestamp    datetime64[ns]
dtype: object

In [45]:
#add month

ridertime["month"]=ridertime["timestamp"].dt.month

In [46]:
# check variation

ridertime["month"].value_counts()

5.0    418294
6.0    346486
4.0    199384
3.0      6240
Name: month, dtype: int64

5.0    418294
6.0    346486
4.0    199384
3.0      6240
Name: month, dtype: int64

In [47]:
#add day

ridertime["day"]=ridertime["timestamp"].dt.day

In [48]:
# check variation

ridertime["day"].value_counts()

21.0    37040
25.0    36783
15.0    36674
14.0    36555
20.0    36346
26.0    36057
16.0    35572
24.0    35458
17.0    35308
22.0    35098
13.0    34828
23.0    34293
11.0    33543
19.0    32878
10.0    32777
18.0    32595
12.0    32518
7.0     31627
9.0     30766
6.0     30721
4.0     29479
5.0     28832
8.0     28702
3.0     28685
28.0    26637
27.0    26557
2.0     25821
29.0    25775
1.0     24408
30.0    24026
31.0    14045
Name: day, dtype: int64

21.0    37040
25.0    36783
15.0    36674
14.0    36555
20.0    36346
26.0    36057
16.0    35572
24.0    35458
17.0    35308
22.0    35098
13.0    34828
23.0    34293
11.0    33543
19.0    32878
10.0    32777
18.0    32595
12.0    32518
7.0     31627
9.0     30766
6.0     30721
4.0     29479
5.0     28832
8.0     28702
3.0     28685
28.0    26637
27.0    26557
2.0     25821
29.0    25775
1.0     24408
30.0    24026
31.0    14045
Name: day, dtype: int64

In [49]:
#add weekday
# Monday=0, Sunday=6

ridertime["weekday"]=ridertime["timestamp"].dt.weekday

In [50]:
# check variation

ridertime["weekday"].value_counts()

4.0    170113
5.0    160010
3.0    149367
2.0    137032
1.0    125905
6.0    120157
0.0    107820
Name: weekday, dtype: int64

4.0    170113
5.0    160010
3.0    149367
2.0    137032
1.0    125905
6.0    120157
0.0    107820
Name: weekday, dtype: int64

In [51]:
# 4 and 5, Friday and Saturday

In [52]:
#add hour

ridertime["hour"]=ridertime["timestamp"].dt.hour

In [53]:
# check variation

ridertime["hour"].value_counts()

19.0    70891
18.0    68947
20.0    64591
21.0    64444
22.0    60147
17.0    57222
23.0    48933
9.0     48835
16.0    48074
8.0     44248
10.0    43713
15.0    43087
11.0    41531
12.0    41165
14.0    40080
13.0    39577
0.0     34220
7.0     32742
1.0     24602
6.0     16653
2.0     15173
5.0      8174
3.0      7371
4.0      5984
Name: hour, dtype: int64

19.0    70891
18.0    68947
20.0    64591
21.0    64444
22.0    60147
17.0    57222
23.0    48933
9.0     48835
16.0    48074
8.0     44248
10.0    43713
15.0    43087
11.0    41531
12.0    41165
14.0    40080
13.0    39577
0.0     34220
7.0     32742
1.0     24602
6.0     16653
2.0     15173
5.0      8174
3.0      7371
4.0      5984
Name: hour, dtype: int64

In [54]:
#night time more popular

In [55]:
ridertime.head()

,ride_id,event,timestamp,month,day,weekday,hour
0,00003037a262d9ee40e61b5c0718f7f0,requested_at,2016-06-13 09:39:19,6.0,13.0,0.0,9.0
1,00003037a262d9ee40e61b5c0718f7f0,accepted_at,2016-06-13 09:39:51,6.0,13.0,0.0,9.0
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,6.0,13.0,0.0,9.0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,6.0,13.0,0.0,9.0
4,00003037a262d9ee40e61b5c0718f7f0,dropped_off_at,2016-06-13 10:03:05,6.0,13.0,0.0,10.0

,ride_id,event,timestamp,month,day,weekday,hour
0,00003037a262d9ee40e61b5c0718f7f0,requested_at,2016-06-13 09:39:19,6.0,13.0,0.0,9.0
1,00003037a262d9ee40e61b5c0718f7f0,accepted_at,2016-06-13 09:39:51,6.0,13.0,0.0,9.0
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,6.0,13.0,0.0,9.0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,6.0,13.0,0.0,9.0
4,00003037a262d9ee40e61b5c0718f7f0,dropped_off_at,2016-06-13 10:03:05,6.0,13.0,0.0,10.0

In [56]:
#create a groupby to have the total ride time , or a merge for the event time since request and drop off can be different hours

## 3.1: checking time between events

In [57]:
timedif=ridertime.copy()

In [58]:
timedif.head()

,ride_id,event,timestamp,month,day,weekday,hour
0,00003037a262d9ee40e61b5c0718f7f0,requested_at,2016-06-13 09:39:19,6.0,13.0,0.0,9.0
1,00003037a262d9ee40e61b5c0718f7f0,accepted_at,2016-06-13 09:39:51,6.0,13.0,0.0,9.0
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,6.0,13.0,0.0,9.0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,6.0,13.0,0.0,9.0
4,00003037a262d9ee40e61b5c0718f7f0,dropped_off_at,2016-06-13 10:03:05,6.0,13.0,0.0,10.0

,ride_id,event,timestamp,month,day,weekday,hour
0,00003037a262d9ee40e61b5c0718f7f0,requested_at,2016-06-13 09:39:19,6.0,13.0,0.0,9.0
1,00003037a262d9ee40e61b5c0718f7f0,accepted_at,2016-06-13 09:39:51,6.0,13.0,0.0,9.0
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,6.0,13.0,0.0,9.0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,6.0,13.0,0.0,9.0
4,00003037a262d9ee40e61b5c0718f7f0,dropped_off_at,2016-06-13 10:03:05,6.0,13.0,0.0,10.0

In [59]:
#most_recent_per_code = timedif.sort_values('timestamp').groupby(['ride_id'], as_index=False).last()

In [60]:
# driver pay includes time spent waiting, starting one minute after arrival is confirmed
# check difference arrived at and picked up at

waiting_time=timedif.groupby(['ride_id'], as_index=False).nth([2,3])

In [61]:
#check if right

waiting_time.head()

,ride_id,event,timestamp,month,day,weekday,hour
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,6.0,13.0,0.0,9.0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,6.0,13.0,0.0,9.0
7,00005eae40882760d675da5effb89ae3,arrived_at,2016-05-14 05:26:17,5.0,14.0,5.0,5.0
8,00005eae40882760d675da5effb89ae3,picked_up_at,2016-05-14 05:26:18,5.0,14.0,5.0,5.0
12,000061d42cf29f73b591041d9a1b2973,arrived_at,2016-05-16 15:47:29,5.0,16.0,0.0,15.0

,ride_id,event,timestamp,month,day,weekday,hour
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,6.0,13.0,0.0,9.0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,6.0,13.0,0.0,9.0
7,00005eae40882760d675da5effb89ae3,arrived_at,2016-05-14 05:26:17,5.0,14.0,5.0,5.0
8,00005eae40882760d675da5effb89ae3,picked_up_at,2016-05-14 05:26:18,5.0,14.0,5.0,5.0
12,000061d42cf29f73b591041d9a1b2973,arrived_at,2016-05-16 15:47:29,5.0,16.0,0.0,15.0

In [62]:
#check time difference between requested and dropped of

waiting_time2=waiting_time.groupby(['ride_id'], as_index=False).timestamp.diff()

In [63]:
# introduce the ride id again

waiting_time2['rideid']=waiting_time['ride_id']

In [64]:
waiting_time2.head()

         timestamp                            rideid
2              NaT  00003037a262d9ee40e61b5c0718f7f0
3  0 days 00:00:02  00003037a262d9ee40e61b5c0718f7f0
7              NaT  00005eae40882760d675da5effb89ae3
8  0 days 00:00:01  00005eae40882760d675da5effb89ae3
12             NaT  000061d42cf29f73b591041d9a1b2973

         timestamp                            rideid
2              NaT  00003037a262d9ee40e61b5c0718f7f0
3  0 days 00:00:02  00003037a262d9ee40e61b5c0718f7f0
7              NaT  00005eae40882760d675da5effb89ae3
8  0 days 00:00:01  00005eae40882760d675da5effb89ae3
12             NaT  000061d42cf29f73b591041d9a1b2973

In [65]:
#waiting_time2["timestamp"]=pd.to_datetime(waiting_time2["timestamp"],errors='coerce')

In [66]:
#waiting_time2["timestamp"].sort_values(ascending=False)

In [67]:
#waiting_time2['timestamp']=drop_cols = list(null_columns[null_columns > 5392].index)
#csharks = csharks.drop(drop_cols, axis=1)
#waiting_time2=waiting_time2.drop(waiting_time2[waiting_time2["timestamp"] == "NaT"].index, inplace=True)

In [68]:
waiting_time2=waiting_time2.dropna()

In [69]:
waiting_time2

             timestamp                            rideid
3      0 days 00:00:02  00003037a262d9ee40e61b5c0718f7f0
8      0 days 00:00:01  00005eae40882760d675da5effb89ae3
13     0 days 00:00:03  000061d42cf29f73b591041d9a1b2973
18     0 days 00:00:04  00006efeb0d5e3ccad7d921ddeee9900
23     0 days 00:00:03  0000d9b24d8ccdd991b76258e616fa01
...                ...                               ...
970383 0 days 00:00:03  fffebb46effb90ce758fdff68b569355
970388 0 days 00:00:02  ffff9c38173ddfa17bdd115c463e329f
970393 0 days 00:00:02  ffff9e431f7fade54b2550ac19ab6e64
970398 0 days 00:00:01  ffffa07f48f2f885f714765d794ad596
970403 0 days 00:00:06  ffffccd77f47a3de26dfed9a851464b4

[194081 rows x 2 columns]

             timestamp                            rideid
3      0 days 00:00:02  00003037a262d9ee40e61b5c0718f7f0
8      0 days 00:00:01  00005eae40882760d675da5effb89ae3
13     0 days 00:00:03  000061d42cf29f73b591041d9a1b2973
18     0 days 00:00:04  00006efeb0d5e3ccad7d921ddeee9900
23     0 days 00:00:03  0000d9b24d8ccdd991b76258e616fa01
...                ...                               ...
970383 0 days 00:00:03  fffebb46effb90ce758fdff68b569355
970388 0 days 00:00:02  ffff9c38173ddfa17bdd115c463e329f
970393 0 days 00:00:02  ffff9e431f7fade54b2550ac19ab6e64
970398 0 days 00:00:01  ffffa07f48f2f885f714765d794ad596
970403 0 days 00:00:06  ffffccd77f47a3de26dfed9a851464b4

[194081 rows x 2 columns]

In [70]:
waiting_time2['waiting_minutes'] = waiting_time2['timestamp'].dt.total_seconds().div(60).astype(int)

In [71]:
waiting_time2.sort_values(by=['waiting_minutes'], ascending=False)

,timestamp,rideid,waiting_minutes
775388,0 days 00:13:51,ccc322deb9027f2652c5b784f46301b7,13
500398,0 days 00:11:23,845063fbad82733755a21d025b3da831,11
864318,0 days 00:07:06,e40251551258dc1c387039892e3bd277,7
30883,0 days 00:05:11,0812d4aa653b5ca9d32a360c9d9f68b9,5
179278,0 days 00:05:10,2f7a5d23e08e6042e3e8efb11d3e4701,5
...,...,...,...
755538,-1 days +23:16:22,c7975399543ee7bf0a1f9cd869d0d80f,-43
513378,-1 days +23:15:24,87b6e22b8618d40283d93802698fdcbf,-44
175918,-1 days +23:09:11,2e8b3bf2654e9ea4787d8efd2f2291bd,-50
692263,-1 days +23:02:04,b6c1bfcb6a1bacfc3733fc24847803f2,-57
434223,-89841 days +12:15:03.145224192,72f0fa0bd86800e9da5c4dced32c8735,-129370304

,timestamp,rideid,waiting_minutes
775388,0 days 00:13:51,ccc322deb9027f2652c5b784f46301b7,13
500398,0 days 00:11:23,845063fbad82733755a21d025b3da831,11
864318,0 days 00:07:06,e40251551258dc1c387039892e3bd277,7
30883,0 days 00:05:11,0812d4aa653b5ca9d32a360c9d9f68b9,5
179278,0 days 00:05:10,2f7a5d23e08e6042e3e8efb11d3e4701,5
...,...,...,...
755538,-1 days +23:16:22,c7975399543ee7bf0a1f9cd869d0d80f,-43
513378,-1 days +23:15:24,87b6e22b8618d40283d93802698fdcbf,-44
175918,-1 days +23:09:11,2e8b3bf2654e9ea4787d8efd2f2291bd,-50
692263,-1 days +23:02:04,b6c1bfcb6a1bacfc3733fc24847803f2,-57
434223,-89841 days +12:15:03.145224192,72f0fa0bd86800e9da5c4dced32c8735,-129370304

In [72]:
#only keep minutes >=1

waiting_time2['waiting_minutes'] = np.where(waiting_time2['waiting_minutes'] >= 1, waiting_time2['waiting_minutes'], "Not relevant")

#csharks.drop(csharks[csharks['Year'] == 'Not relevant'].index, inplace=True)

In [73]:
#drop non relevant

waiting_time2.drop(waiting_time2[waiting_time2['waiting_minutes'] == 'Not relevant'].index, inplace=True)

In [74]:
waiting_time2["waiting_minutes"].value_counts()

1     3780
2       19
3        8
5        5
13       1
11       1
7        1
Name: waiting_minutes, dtype: int64

1     3780
2       19
3        8
5        5
13       1
11       1
7        1
Name: waiting_minutes, dtype: int64

In [75]:
waiting_time2.head()

           timestamp                            rideid waiting_minutes
78   0 days 00:01:00  000399d2e73490f5ac5e65eae391f6f8               1
608  0 days 00:01:00  002a1cf462fee4f6c9d8da11fca4830a               1
708  0 days 00:01:00  003115b37c952878769e2f2a585cf664               1
1033 0 days 00:01:00  0046dbc3563e3f59405c1a5360863942               1
1183 0 days 00:01:00  004edbe47f7b98f0ceb65dd3f40b60c3               1

           timestamp                            rideid waiting_minutes
78   0 days 00:01:00  000399d2e73490f5ac5e65eae391f6f8               1
608  0 days 00:01:00  002a1cf462fee4f6c9d8da11fca4830a               1
708  0 days 00:01:00  003115b37c952878769e2f2a585cf664               1
1033 0 days 00:01:00  0046dbc3563e3f59405c1a5360863942               1
1183 0 days 00:01:00  004edbe47f7b98f0ceb65dd3f40b60c3               1

In [76]:
waiting_time2["waiting_minutes"] = waiting_time2["waiting_minutes"].astype(float)

In [77]:
waiting_time2.dtypes

timestamp          timedelta64[ns]
rideid                      object
waiting_minutes            float64
dtype: object

timestamp          timedelta64[ns]
rideid                      object
waiting_minutes            float64
dtype: object

In [78]:
# adding the cost for waiting time
#Cost per Minute $0.22
waiting_time2["cost_waiting_time$"]=waiting_time2["waiting_minutes"]*0.22

In [79]:
waiting_time2.head()

,timestamp,rideid,waiting_minutes,cost_waiting_time$
78,0 days 00:01:00,000399d2e73490f5ac5e65eae391f6f8,1.0,0.22
608,0 days 00:01:00,002a1cf462fee4f6c9d8da11fca4830a,1.0,0.22
708,0 days 00:01:00,003115b37c952878769e2f2a585cf664,1.0,0.22
1033,0 days 00:01:00,0046dbc3563e3f59405c1a5360863942,1.0,0.22
1183,0 days 00:01:00,004edbe47f7b98f0ceb65dd3f40b60c3,1.0,0.22

,timestamp,rideid,waiting_minutes,cost_waiting_time$
78,0 days 00:01:00,000399d2e73490f5ac5e65eae391f6f8,1.0,0.22
608,0 days 00:01:00,002a1cf462fee4f6c9d8da11fca4830a,1.0,0.22
708,0 days 00:01:00,003115b37c952878769e2f2a585cf664,1.0,0.22
1033,0 days 00:01:00,0046dbc3563e3f59405c1a5360863942,1.0,0.22
1183,0 days 00:01:00,004edbe47f7b98f0ceb65dd3f40b60c3,1.0,0.22

In [80]:
#waiting_time2['timestamp'] = np.where(waiting_time2['timestamp']==np.timedelta64('NaT'), "Not relevant", waiting_time2['timestamp'])

#eliminating the Not relevant 

#test=waiting_time2.drop(waiting_time2[waiting_time2['timestamp'] == "Not relevant"].index, inplace=True)

In [81]:
waiting_time3=pd.DataFrame(data=waiting_time2)

In [82]:
waiting_time3.dtypes

timestamp             timedelta64[ns]
rideid                         object
waiting_minutes               float64
cost_waiting_time$            float64
dtype: object

timestamp             timedelta64[ns]
rideid                         object
waiting_minutes               float64
cost_waiting_time$            float64
dtype: object

In [83]:
# take the minutes

#waiting_time3['timestamp']=pd.to_datetime(waiting_time3['timestamp'],errors='coerce')
#waiting_time3["minutes"]=waiting_time3["timestamp"].dt.minute

In [84]:
waiting_time3

,timestamp,rideid,waiting_minutes,cost_waiting_time$
78,0 days 00:01:00,000399d2e73490f5ac5e65eae391f6f8,1.0,0.22
608,0 days 00:01:00,002a1cf462fee4f6c9d8da11fca4830a,1.0,0.22
708,0 days 00:01:00,003115b37c952878769e2f2a585cf664,1.0,0.22
1033,0 days 00:01:00,0046dbc3563e3f59405c1a5360863942,1.0,0.22
1183,0 days 00:01:00,004edbe47f7b98f0ceb65dd3f40b60c3,1.0,0.22
...,...,...,...,...
969873,0 days 00:01:00,ffe1895c60df03100b1e34d5ffb3a57d,1.0,0.22
969958,0 days 00:01:00,ffe811249b767330c98cdf6e623421dd,1.0,0.22
970078,0 days 00:01:00,ffed8e1219a3b281491467ce5c97a39e,1.0,0.22
970243,0 days 00:01:00,fff68b684a87aecb228bd526e2337de8,1.0,0.22
970353,0 days 00:01:00,fffcf368d05983e45d910d714ac80819,1.0,0.22

,timestamp,rideid,waiting_minutes,cost_waiting_time$
78,0 days 00:01:00,000399d2e73490f5ac5e65eae391f6f8,1.0,0.22
608,0 days 00:01:00,002a1cf462fee4f6c9d8da11fca4830a,1.0,0.22
708,0 days 00:01:00,003115b37c952878769e2f2a585cf664,1.0,0.22
1033,0 days 00:01:00,0046dbc3563e3f59405c1a5360863942,1.0,0.22
1183,0 days 00:01:00,004edbe47f7b98f0ceb65dd3f40b60c3,1.0,0.22
...,...,...,...,...
969873,0 days 00:01:00,ffe1895c60df03100b1e34d5ffb3a57d,1.0,0.22
969958,0 days 00:01:00,ffe811249b767330c98cdf6e623421dd,1.0,0.22
970078,0 days 00:01:00,ffed8e1219a3b281491467ce5c97a39e,1.0,0.22
970243,0 days 00:01:00,fff68b684a87aecb228bd526e2337de8,1.0,0.22
970353,0 days 00:01:00,fffcf368d05983e45d910d714ac80819,1.0,0.22

In [86]:
#check

#waiting_time3["minutes"].value_counts()

# BREAK

In [87]:
#keeping first and last event of the same ride

#first_last_code = timedif.groupby(['ride_id'], as_index=False).nth([0,-1])

In [88]:
#check time difference between requested and dropped of

attempt=first_last_code.groupby(['ride_id'], as_index=False).timestamp.diff()

NameError: name 'first_last_code' is not defined

NameError: name 'first_last_code' is not defined

In [89]:
attempt['new_ride_id']=first_last_code['ride_id']

NameError: name 'first_last_code' is not defined

NameError: name 'first_last_code' is not defined

In [ ]:
attempt

In [ ]:
attempt1=pd.DataFrame(data=attempt)

In [ ]:
attempt1.head()

In [ ]:
attempt1.dtypes

In [ ]:
first_last_code['time_diff_dropoff_req'] = pd.to_datetime(first_last_code['timestamp'].astype(str)).diff(-1).dt.total_seconds().div(60)

In [ ]:
first_last_code.head()

# Value Analysis

In [90]:
# IMPORTANT

#some assumptions here
# if the commission of lyft is less that 1 (minimum fare 5* 0.2), then it has a decrease commission of 5 - driver_revenue_before_commission$ or 0.8(5 - X)
#it seems lyft pays the driver if the minimum is not reached
# if if the commission of lyft is more than 80 ( maximum fare 400 * 0.2), since the max is 400, the revenue is 80 + (driver_revenue_before_commission$-80)
# taking into consideration waiting time too

In [91]:
waiting_time2.head()

,timestamp,rideid,waiting_minutes,cost_waiting_time$
78,0 days 00:01:00,000399d2e73490f5ac5e65eae391f6f8,1.0,0.22
608,0 days 00:01:00,002a1cf462fee4f6c9d8da11fca4830a,1.0,0.22
708,0 days 00:01:00,003115b37c952878769e2f2a585cf664,1.0,0.22
1033,0 days 00:01:00,0046dbc3563e3f59405c1a5360863942,1.0,0.22
1183,0 days 00:01:00,004edbe47f7b98f0ceb65dd3f40b60c3,1.0,0.22

,timestamp,rideid,waiting_minutes,cost_waiting_time$
78,0 days 00:01:00,000399d2e73490f5ac5e65eae391f6f8,1.0,0.22
608,0 days 00:01:00,002a1cf462fee4f6c9d8da11fca4830a,1.0,0.22
708,0 days 00:01:00,003115b37c952878769e2f2a585cf664,1.0,0.22
1033,0 days 00:01:00,0046dbc3563e3f59405c1a5360863942,1.0,0.22
1183,0 days 00:01:00,004edbe47f7b98f0ceb65dd3f40b60c3,1.0,0.22

In [92]:
riderid.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,driver_revenue_before_commission$
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303,2,1.294099,1.199000,1.75,4.493099
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050,2,2.402407,2.966333,1.75,7.368741
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340,2,2.345241,2.097333,1.75,6.442575
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976,2,46.649722,12.239333,1.75,60.889055
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942,2,2.940484,3.017667,1.75,7.958150

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,driver_revenue_before_commission$
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303,2,1.294099,1.199000,1.75,4.493099
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050,2,2.402407,2.966333,1.75,7.368741
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340,2,2.345241,2.097333,1.75,6.442575
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976,2,46.649722,12.239333,1.75,60.889055
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942,2,2.940484,3.017667,1.75,7.958150

In [93]:
total_revenue_df=riderid.merge(waiting_time2, how="left", left_on="ride_id", right_on="rideid")

In [94]:
#from the information on site, i assumed the waiting time was needed to be added

In [95]:
#the nulls from the merge should be put to zero

total_revenue_df["cost_waiting_time$"]=total_revenue_df["cost_waiting_time$"].fillna(0)

In [96]:
total_revenue_df.head(50)

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,driver_revenue_before_commission$,timestamp,rideid,waiting_minutes,cost_waiting_time$
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303,2,1.294099,1.199000,1.75,4.493099,NaT,NaN,NaN,0.00
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050,2,2.402407,2.966333,1.75,7.368741,NaT,NaN,NaN,0.00
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340,2,2.345241,2.097333,1.75,6.442575,NaT,NaN,NaN,0.00
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976,2,46.649722,12.239333,1.75,60.889055,NaT,NaN,NaN,0.00
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942,2,2.940484,3.017667,1.75,7.958150,NaT,NaN,NaN,0.00
5,002be0ffdc997bd5c50703158b7c2491,03d6b9d80b8a96135cb9b25178e9e203,4832,917,100,15.283333,3.002466,2,3.452835,3.362333,1.75,8.815169,NaT,NaN,NaN,0.00
6,002be0ffdc997bd5c50703158b7c2491,04053c0ed21761e07f0b869cab5b7dd0,1575,347,0,5.783333,0.978660,2,1.125459,1.272333,1.75,4.397792,NaT,NaN,NaN,0.00
7,002be0ffdc997bd5c50703158b7c2491,0534d432e0186625f623aaee57af98be,3056,687,25,11.450000,1.898910,2,2.183747,2.519000,1.75,6.702747,NaT,NaN,NaN,0.00
8,002be0ffdc997bd5c50703158b7c2491,053a1621c0affcd2b9c517af5c2bc843,3940,1143,75,19.050000,2.448202,2,2.815433,4.191000,1.75,9.006433,NaT,NaN,NaN,0.00
9,002be0ffdc997bd5c50703158b7c2491,066e92c52f59486de56cd7b8716a4ca6,3957,868,50,14.466667,2.458766,2,2.827581,3.182667,1.75,8.010247,NaT,NaN,NaN,0.00
10,002be0ffdc997bd5c50703158b7c2491,07d400d669489e627818e46dc097858a,3534,925,100,15.416667,2.195926,2,2.525315,3.391667,1.75,7.916981,0 days 00:01:00,07d400d669489e627818e46dc097858a,1.0,0.22
11,002be0ffdc997bd5c50703158b7c2491,08563e36dfef562d2e41d1852b38fec5,23453,1583,0,26.383333,14.573019,2,16.758971,5.804333,1.75,24.563305,NaT,NaN,NaN,0.00
12,002be0ffdc997bd5c50703158b7c2491,09ee3ac7bf061004b989e358b9f11ea9,2692,486,0,8.100000,1.672731,2,1.923641,1.782000,1.75,5.705641,NaT,NaN,NaN,0.00
13,002be0ffdc997bd5c50703158b7c2491,0c640d3b03deb73141b3c6b68e4c27e3,4293,607,25,10.116667,2.667547,2,3.067679,2.225667,1.75,7.293345,NaT,NaN,NaN,0.00
14,002be0ffdc997bd5c50703158b7c2491,0cb00b0a036b31a0431cc3136a5caf6e,1570,264,0,4.400000,0.975553,2,1.121886,0.968000,1.75,4.089886,NaT,NaN,NaN,0.00
15,002be0ffdc997bd5c50703158b7c2491,0dfbe7e38482e24247f6ebd53d5f6c33,5038,1167,0,19.450000,3.130468,2,3.600038,4.279000,1.75,9.879038,NaT,NaN,NaN,0.00
16,002be0ffdc997bd5c50703158b7c2491,0f3df9d8799789e3dd020c3ac4241d3d,4898,775,0,12.916667,3.043476,2,3.499998,2.841667,1.75,8.341664,NaT,NaN,NaN,0.00
17,002be0ffdc997bd5c50703158b7c2491,108ab65b6880fa96818a58bb3a09b54e,3777,565,0,9.416667,2.346919,2,2.698957,2.071667,1.75,6.770624,NaT,NaN,NaN,0.00
18,002be0ffdc997bd5c50703158b7c2491,10d9fed7757ba816e4aa26e147b68086,7293,1237,0,20.616667,4.531660,2,5.211409,4.535667,1.75,11.747076,NaT,NaN,NaN,0.00
19,002be0ffdc997bd5c50703158b7c2491,11de22057e906f424ca556072dd58145,2492,411,25,6.850000,1.548457,2,1.780726,1.507000,1.75,5.287726,NaT,NaN,NaN,0.00
20,002be0ffdc997bd5c50703158b7c2491,12af6a4871900b087917d90c1d3f9920,6672,926,0,15.433333,4.145789,2,4.767657,3.395333,1.75,10.162990,NaT,NaN,NaN,0.00
21,002be0ffdc997bd5c50703158b7c2491,131cff806e3ae5d8b4303f42301cb400,1933,458,25,7.633333,1.201111,2,1.381277,1.679333,1.75,5.060610,NaT,NaN,NaN,0.00
22,002be0ffdc997bd5c50703158b7c2491,1364cd661f12ef24a68a50d5b519baf6,3037,824,25,13.733333,1.887104,2,2.170170,3.021333,1.75,7.191503,NaT,NaN,NaN,0.00
23,002be0ffdc997bd5c50703158b7c2491,13f9268a26623802befeed6d4a29262c,26953,2906,25,48.433333,16.747818,2,19.259990,10.655333,1.75,31.915324,NaT,NaN,NaN,0.00
24,002be0ffdc997bd5c50703158b7c2491,14c62810c8119e478739ec37883d35ca,5865,1174,0,19.566667,3.644342,2,4.190993,4.304667,1.75,10.495660,NaT,NaN,NaN,0.00
25,002be0ffdc997bd5c50703158b7c2491,15f47ae15319cc6402cdd28d87bd0cdf,8564,582,25,9.700000,5.321423,2,6.119636,2.134000,1.75,10.253636,NaT,NaN,NaN,0.00
26,002be0ffdc997bd5c50703158b7c2491,178a0bd572ca2ab09eb035591c54474d,8124,577,0,9.616667,5.048020,2,5.805223,2.115667,1.75,9.920889,NaT,NaN,NaN,0.00
27,002be0ffdc997bd5c50703158b7c2491,178efb0cce67d03a87bda8be3aaff678,1556,302,25,5.033333,0.966854,2,1.111882,1.107333,1.75,4.219215,NaT,NaN,NaN,0.00
28,002be0ffdc997bd5c50703158b7c2491,17bf597da0d4f2b6776937bfcbe31f2d,2259,453,100,7.550000,1.403678,2,1.614229,1.661000,1.75,5.275229,NaT,NaN,NaN,0.00
29,002be0ffdc997bd5c50703158b7c2491,185d202547b721490daca6c10190083b,19991,1087,50,18.116667,12.421832,2,14.285106,3.985667,1.75,20.270773,NaT,NaN,NaN,0.00
30,002be0ffdc997bd5c50703158b7c2491,19254fc4b8466e2395f40690841ac66b,5427,388,0,6.466667,3.372181,2,3.878009,1.422667,1.75,7.300675,NaT,NaN,NaN,0.00
31,002be0ffdc997bd5c50703158b7c2491,1a3f9e89e6108cf31d36519d97200632,2241,465,0,7.750000,1.392493,2,1.601367,1.705000,1.75,5.306367,NaT,NaN,NaN,0.00
32,002be0ffdc997bd5c50703158b7c2491,1b0f3f4e7ffdafdfd8d104c553b80fd5,38932,1786,0,29.766667,24.191223,2,27.819907,6.548667,1.75,36.368573,NaT,NaN,NaN,0.00
33,002be0ffdc997bd5c50703158b7c2491,1b87db3098c4751c32dc88ddc39fcfc4,2624,497,25,8.283333,1.630478,2,1.875050,1.822333,1.75,5.697383,NaT,NaN,NaN,0.00
34,002be0ffdc997bd5c50703158b7c2491,1bd3e98aa192e366d0da6ad9a848b56c,4305,547,25,9.116667,2.675003,2,3.076253,2.005667,1.75,7.081920,NaT,NaN,NaN,0.00
35,002be0ffdc997bd5c50703158b7c2491,1beb9ff4432def332f46d21f273289c2,3873,929,0,15.483333,2.406571,2,2.767556,3.406333,1.75,8.173890,NaT,NaN,NaN,0.00
36,002be0ffdc997bd5c50703158b7c2491,1ef2118c46704afbfcae19442ab1bc50,4733,913,0,15.216667,2.940950,2,3.382092,3.347667,1.75,8.729759,NaT,NaN,NaN,0.00
37,002be0ffdc997bd5c50703158b7c2491,20acf3aa6bca80f9c1d114628b050296,21103,1022,25,17.033333,13.112796,2,15.079716,3.747333,1.75,20.827049,NaT,NaN,NaN,0.00
38,002be0ffdc997bd5c50703158b7c2491,220cb627dde57ee6863309b1dac33a35,1591,482,0,8.033333,0.988602,2,1.136892,1.767333,1.75,4.904225,NaT,NaN,NaN,0.00
39,002be0ffdc997bd5c50703158b7c2491,225522bfe5ce96b1d81f9d1818ff91e7,4233,709,25,11.816667,2.630264,2,3.024804,2.599667,1.75,7.624471,NaT,NaN,NaN,0.00
40,002be0ffdc997bd5c50703158b7c2491,22d1e4331be878ec9ad59f70c834e21e,23045,1488,25,24.800000,14.319499,2,16.467424,5.456000,1.75,23.923424,NaT,NaN,NaN,0.00
41,002be0ffdc997bd5c50703158b7c2491,23251e30bc08630a96f60d2c23d7c361,7528,1206,150,20.100000,4.677682,2,5.379335,4.422000,1.75,11.801335,NaT,NaN,NaN,0.00
42,002be0ffdc997bd5c50703158b7c2491,235bdda9bdcadf79e0f49e9c28a14b69,2775,572,25,9.533333,1.724305,2,1.982951,2.097333,1.75,6.080284,NaT,NaN,NaN,0.00
43,002be0ffdc997bd5c50703158b7c2491,24721ed06077acc84f260bba2f5cb8e6,2233,671,0,11.183333,1.387522,2,1.595650,2.460333,1.75,6.055983,NaT,NaN,NaN,0.00
44,002be0ffdc997bd5c50703158b7c2491,24841c572e42e20b4e252321a16c0d99,2339,555,75,9.250000,1.453387,2,1.671395,2.035000,1.75,5.706395,NaT,NaN,NaN,0.00
45,002be0ffdc997bd5c50703158b7c2491,2523f9190be5dcb9d0f869654c25c503,2279,456,0,7.600000,1.416105,2,1.628521,1.672000,1.75,5.300521,NaT,NaN,NaN,0.00
46,002be0ffdc997bd5c50703158b7c2491,26eade65de66d1cdf360c59cf87439fa,3105,474,0,7.900000,1.929358,2,2.218761,1.738000,1.75,5.956761,NaT,NaN,NaN,0.00
47,002be0ffdc997bd5c50703158b7c2491,27069211f61ad76832c36937f80d10d4,8318,1358,0,22.633333,5.168566,2,5.943850,4.979333,1.75,12.923184,NaT,NaN,NaN,0.00
48,002be0ffdc997bd5c50703158b7c2491,27dc2950882e55a3b6e062bcdf945f11,2865,693,0,11.550000,1.780228,2,2.047263,2.541000,1.75,6.588263,NaT,NaN,NaN,0.00
49,002be0ffdc997bd5c50703158b7c2491,284955b8c846e56da84c10a936c310f1,1237,285,0,4.750000,0.768636,2,0.883932,1.045000,1.75,3.928932,NaT,NaN,NaN,0.00

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,driver_revenue_before_commission$,timestamp,rideid,waiting_minutes,cost_waiting_time$
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303,2,1.294099,1.199000,1.75,4.493099,NaT,NaN,NaN,0.00
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050,2,2.402407,2.966333,1.75,7.368741,NaT,NaN,NaN,0.00
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340,2,2.345241,2.097333,1.75,6.442575,NaT,NaN,NaN,0.00
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976,2,46.649722,12.239333,1.75,60.889055,NaT,NaN,NaN,0.00
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942,2,2.940484,3.017667,1.75,7.958150,NaT,NaN,NaN,0.00
5,002be0ffdc997bd5c50703158b7c2491,03d6b9d80b8a96135cb9b25178e9e203,4832,917,100,15.283333,3.002466,2,3.452835,3.362333,1.75,8.815169,NaT,NaN,NaN,0.00
6,002be0ffdc997bd5c50703158b7c2491,04053c0ed21761e07f0b869cab5b7dd0,1575,347,0,5.783333,0.978660,2,1.125459,1.272333,1.75,4.397792,NaT,NaN,NaN,0.00
7,002be0ffdc997bd5c50703158b7c2491,0534d432e0186625f623aaee57af98be,3056,687,25,11.450000,1.898910,2,2.183747,2.519000,1.75,6.702747,NaT,NaN,NaN,0.00
8,002be0ffdc997bd5c50703158b7c2491,053a1621c0affcd2b9c517af5c2bc843,3940,1143,75,19.050000,2.448202,2,2.815433,4.191000,1.75,9.006433,NaT,NaN,NaN,0.00
9,002be0ffdc997bd5c50703158b7c2491,066e92c52f59486de56cd7b8716a4ca6,3957,868,50,14.466667,2.458766,2,2.827581,3.182667,1.75,8.010247,NaT,NaN,NaN,0.00
10,002be0ffdc997bd5c50703158b7c2491,07d400d669489e627818e46dc097858a,3534,925,100,15.416667,2.195926,2,2.525315,3.391667,1.75,7.916981,0 days 00:01:00,07d400d669489e627818e46dc097858a,1.0,0.22
11,002be0ffdc997bd5c50703158b7c2491,08563e36dfef562d2e41d1852b38fec5,23453,1583,0,26.383333,14.573019,2,16.758971,5.804333,1.75,24.563305,NaT,NaN,NaN,0.00
12,002be0ffdc997bd5c50703158b7c2491,09ee3ac7bf061004b989e358b9f11ea9,2692,486,0,8.100000,1.672731,2,1.923641,1.782000,1.75,5.705641,NaT,NaN,NaN,0.00
13,002be0ffdc997bd5c50703158b7c2491,0c640d3b03deb73141b3c6b68e4c27e3,4293,607,25,10.116667,2.667547,2,3.067679,2.225667,1.75,7.293345,NaT,NaN,NaN,0.00
14,002be0ffdc997bd5c50703158b7c2491,0cb00b0a036b31a0431cc3136a5caf6e,1570,264,0,4.400000,0.975553,2,1.121886,0.968000,1.75,4.089886,NaT,NaN,NaN,0.00
15,002be0ffdc997bd5c50703158b7c2491,0dfbe7e38482e24247f6ebd53d5f6c33,5038,1167,0,19.450000,3.130468,2,3.600038,4.279000,1.75,9.879038,NaT,NaN,NaN,0.00
16,002be0ffdc997bd5c50703158b7c2491,0f3df9d8799789e3dd020c3ac4241d3d,4898,775,0,12.916667,3.043476,2,3.499998,2.841667,1.75,8.341664,NaT,NaN,NaN,0.00
17,002be0ffdc997bd5c50703158b7c2491,108ab65b6880fa96818a58bb3a09b54e,3777,565,0,9.416667,2.346919,2,2.698957,2.071667,1.75,6.770624,NaT,NaN,NaN,0.00
18,002be0ffdc997bd5c50703158b7c2491,10d9fed7757ba816e4aa26e147b68086,7293,1237,0,20.616667,4.531660,2,5.211409,4.535667,1.75,11.747076,NaT,NaN,NaN,0.00
19,002be0ffdc997bd5c50703158b7c2491,11de22057e906f424ca556072dd58145,2492,411,25,6.850000,1.548457,2,1.780726,1.507000,1.75,5.287726,NaT,NaN,NaN,0.00
20,002be0ffdc997bd5c50703158b7c2491,12af6a4871900b087917d90c1d3f9920,6672,926,0,15.433333,4.145789,2,4.767657,3.395333,1.75,10.162990,NaT,NaN,NaN,0.00
21,002be0ffdc997bd5c50703158b7c2491,131cff806e3ae5d8b4303f42301cb400,1933,458,25,7.633333,1.201111,2,1.381277,1.679333,1.75,5.060610,NaT,NaN,NaN,0.00
22,002be0ffdc997bd5c50703158b7c2491,1364cd661f12ef24a68a50d5b519baf6,3037,824,25,13.733333,1.887104,2,2.170170,3.021333,1.75,7.191503,NaT,NaN,NaN,0.00
23,002be0ffdc997bd5c50703158b7c2491,13f9268a26623802befeed6d4a29262c,26953,2906,25,48.433333,16.747818,2,19.259990,10.655333,1.75,31.915324,NaT,NaN,NaN,0.00
24,002be0ffdc997bd5c50703158b7c2491,14c62810c8119e478739ec37883d35ca,5865,1174,0,19.566667,3.644342,2,4.190993,4.304667,1.75,10.495660,NaT,NaN,NaN,0.00
25,002be0ffdc997bd5c50703158b7c2491,15f47ae15319cc6402cdd28d87bd0cdf,8564,582,25,9.700000,5.321423,2,6.119636,2.134000,1.75,10.253636,NaT,NaN,NaN,0.00
26,002be0ffdc997bd5c50703158b7c2491,178a0bd572ca2ab09eb035591c54474d,8124,577,0,9.616667,5.048020,2,5.805223,2.115667,1.75,9.920889,NaT,NaN,NaN,0.00
27,002be0ffdc997bd5c50703158b7c2491,178efb0cce67d03a87bda8be3aaff678,1556,302,25,5.033333,0.966854,2,1.111882,1.107333,1.75,4.219215,NaT,NaN,NaN,0.00
28,002be0ffdc997bd5c50703158b7c2491,17bf597da0d4f2b6776937bfcbe31f2d,2259,453,100,7.550000,1.403678,2,1.614229,1.661000,1.75,5.275229,NaT,NaN,NaN,0.00
29,002be0ffdc997bd5c50703158b7c2491,185d202547b721490daca6c10190083b,19991,1087,50,18.116667,12.421832,2,14.285106,3.985667,1.75,20.270773,NaT,NaN,NaN,0.00
30,002be0ffdc997bd5c50703158b7c2491,19254fc4b8466e2395f40690841ac66b,5427,388,0,6.466667,3.372181,2,3.878009,1.422667,1.75,7.300675,NaT,NaN,NaN,0.00
31,002be0ffdc997bd5c50703158b7c2491,1a3f9e89e6108cf31d36519d97200632,2241,465,0,7.750000,1.392493,2,1.601367,1.705000,1.75,5.306367,NaT,NaN,NaN,0.00
32,002be0ffdc997bd5c50703158b7c2491,1b0f3f4e7ffdafdfd8d104c553b80fd5,38932,1786,0,29.766667,24.191223,2,27.819907,6.548667,1.75,36.368573,NaT,NaN,NaN,0.00
33,002be0ffdc997bd5c50703158b7c2491,1b87db3098c4751c32dc88ddc39fcfc4,2624,497,25,8.283333,1.630478,2,1.875050,1.822333,1.75,5.697383,NaT,NaN,NaN,0.00
34,002be0ffdc997bd5c50703158b7c2491,1bd3e98aa192e366d0da6ad9a848b56c,4305,547,25,9.116667,2.675003,2,3.076253,2.005667,1.75,7.081920,NaT,NaN,NaN,0.00
35,002be0ffdc997bd5c50703158b7c2491,1beb9ff4432def332f46d21f273289c2,3873,929,0,15.483333,2.406571,2,2.767556,3.406333,1.75,8.173890,NaT,NaN,NaN,0.00
36,002be0ffdc997bd5c50703158b7c2491,1ef2118c46704afbfcae19442ab1bc50,4733,913,0,15.216667,2.940950,2,3.382092,3.347667,1.75,8.729759,NaT,NaN,NaN,0.00
37,002be0ffdc997bd5c50703158b7c2491,20acf3aa6bca80f9c1d114628b050296,21103,1022,25,17.033333,13.112796,2,15.079716,3.747333,1.75,20.827049,NaT,NaN,NaN,0.00
38,002be0ffdc997bd5c50703158b7c2491,220cb627dde57ee6863309b1dac33a35,1591,482,0,8.033333,0.988602,2,1.136892,1.767333,1.75,4.904225,NaT,NaN,NaN,0.00
39,002be0ffdc997bd5c50703158b7c2491,225522bfe5ce96b1d81f9d1818ff91e7,4233,709,25,11.816667,2.630264,2,3.024804,2.599667,1.75,7.624471,NaT,NaN,NaN,0.00
40,002be0ffdc997bd5c50703158b7c2491,22d1e4331be878ec9ad59f70c834e21e,23045,1488,25,24.800000,14.319499,2,16.467424,5.456000,1.75,23.923424,NaT,NaN,NaN,0.00
41,002be0ffdc997bd5c50703158b7c2491,23251e30bc08630a96f60d2c23d7c361,7528,1206,150,20.100000,4.677682,2,5.379335,4.422000,1.75,11.801335,NaT,NaN,NaN,0.00
42,002be0ffdc997bd5c50703158b7c2491,235bdda9bdcadf79e0f49e9c28a14b69,2775,572,25,9.533333,1.724305,2,1.982951,2.097333,1.75,6.080284,NaT,NaN,NaN,0.00
43,002be0ffdc997bd5c50703158b7c2491,24721ed06077acc84f260bba2f5cb8e6,2233,671,0,11.183333,1.387522,2,1.595650,2.460333,1.75,6.055983,NaT,NaN,NaN,0.00
44,002be0ffdc997bd5c50703158b7c2491,24841c572e42e20b4e252321a16c0d99,2339,555,75,9.250000,1.453387,2,1.671395,2.035000,1.75,5.706395,NaT,NaN,NaN,0.00
45,002be0ffdc997bd5c50703158b7c2491,2523f9190be5dcb9d0f869654c25c503,2279,456,0,7.600000,1.416105,2,1.628521,1.672000,1.75,5.300521,NaT,NaN,NaN,0.00
46,002be0ffdc997bd5c50703158b7c2491,26eade65de66d1cdf360c59cf87439fa,3105,474,0,7.900000,1.929358,2,2.218761,1.738000,1.75,5.956761,NaT,NaN,NaN,0.00
47,002be0ffdc997bd5c50703158b7c2491,27069211f61ad76832c36937f80d10d4,8318,1358,0,22.633333,5.168566,2,5.943850,4.979333,1.75,12.923184,NaT,NaN,NaN,0.00
48,002be0ffdc997bd5c50703158b7c2491,27dc2950882e55a3b6e062bcdf945f11,2865,693,0,11.550000,1.780228,2,2.047263,2.541000,1.75,6.588263,NaT,NaN,NaN,0.00
49,002be0ffdc997bd5c50703158b7c2491,284955b8c846e56da84c10a936c310f1,1237,285,0,4.750000,0.768636,2,0.883932,1.045000,1.75,3.928932,NaT,NaN,NaN,0.00

In [101]:
#add the costs to the driver_revenue_before_commission

total_revenue_df["final_driver_revenue_before_commission$"]=total_revenue_df["driver_revenue_before_commission$"]+total_revenue_df["cost_waiting_time$"]

In [102]:
#ATTENTION prime time is probably in KM, worhth analysing?

In [103]:
#to calculate lyft revenue some columns are not needed

coldrop=["ride_distance","ride_duration","ride_prime_time","ride_duration_min","ride_distance_miles","timestamp","rideid","waiting_minutes","driver_revenue_before_commission$"]
lifetime_revenue_df=total_revenue_df.drop(coldrop, axis=1)

In [105]:
lifetime_revenue_df.head()

,driver_id,ride_id,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,cost_waiting_time$,final_driver_revenue_before_commission$
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,2,1.294099,1.199000,1.75,0.0,4.493099
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,2,2.402407,2.966333,1.75,0.0,7.368741
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,2,2.345241,2.097333,1.75,0.0,6.442575
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,2,46.649722,12.239333,1.75,0.0,60.889055
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,2,2.940484,3.017667,1.75,0.0,7.958150

,driver_id,ride_id,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,cost_waiting_time$,final_driver_revenue_before_commission$
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,2,1.294099,1.199000,1.75,0.0,4.493099
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,2,2.402407,2.966333,1.75,0.0,7.368741
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,2,2.345241,2.097333,1.75,0.0,6.442575
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,2,46.649722,12.239333,1.75,0.0,60.889055
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,2,2.940484,3.017667,1.75,0.0,7.958150

In [113]:
# lyft commission is 20%

lifetime_revenue_df["lyft_20_revenue"]=lifetime_revenue_df["final_driver_revenue_before_commission$"]*0.2

In [114]:
lifetime_revenue_df.head()

,driver_id,ride_id,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,cost_waiting_time$,final_driver_revenue_before_commission$,lyft_20_revenue,lyft_20_revenue_final
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,2,1.294099,1.199000,1.75,0.0,4.493099,0.898620,0.898620
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,2,2.402407,2.966333,1.75,0.0,7.368741,1.473748,1.473748
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,2,2.345241,2.097333,1.75,0.0,6.442575,1.288515,1.288515
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,2,46.649722,12.239333,1.75,0.0,60.889055,12.177811,12.177811
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,2,2.940484,3.017667,1.75,0.0,7.958150,1.591630,1.591630

,driver_id,ride_id,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,cost_waiting_time$,final_driver_revenue_before_commission$,lyft_20_revenue,lyft_20_revenue_final
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,2,1.294099,1.199000,1.75,0.0,4.493099,0.898620,0.898620
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,2,2.402407,2.966333,1.75,0.0,7.368741,1.473748,1.473748
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,2,2.345241,2.097333,1.75,0.0,6.442575,1.288515,1.288515
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,2,46.649722,12.239333,1.75,0.0,60.889055,12.177811,12.177811
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,2,2.940484,3.017667,1.75,0.0,7.958150,1.591630,1.591630

In [ ]:
#adding min and max fares

#some assumptions here
# if the commission of lyft is less that 1 (minimum fare 5* 0.2), then it has a decrease commission of 5 - driver_revenue_before_commission$ or 0.8(5 - X)
#it seems lyft pays the driver if the minimum is not reached
# if if the commission of lyft is more than 80 ( maximum fare 400 * 0.2), since the max is 400, the revenue is  80 +(driver_revenue_before_commission$-400)
# taking into consideration waiting time too

In [121]:
#add the minimum fare condition

lifetime_revenue_df["lyft_20_revenue_min"] = np.where(lifetime_revenue_df["lyft_20_revenue"] < 1,(lifetime_revenue_df["lyft_20_revenue"]-(0.8*(5-lifetime_revenue_df["final_driver_revenue_before_commission$"]))) , lifetime_revenue_df["lyft_20_revenue"])

In [122]:
lifetime_revenue_df.head()

,driver_id,ride_id,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,cost_waiting_time$,final_driver_revenue_before_commission$,lyft_20_revenue,lyft_20_revenue_final,lyft_20_revenue_min
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,2,1.294099,1.199000,1.75,0.0,4.493099,0.898620,0.898620,0.493099
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,2,2.402407,2.966333,1.75,0.0,7.368741,1.473748,1.473748,1.473748
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,2,2.345241,2.097333,1.75,0.0,6.442575,1.288515,1.288515,1.288515
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,2,46.649722,12.239333,1.75,0.0,60.889055,12.177811,12.177811,12.177811
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,2,2.940484,3.017667,1.75,0.0,7.958150,1.591630,1.591630,1.591630

,driver_id,ride_id,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,cost_waiting_time$,final_driver_revenue_before_commission$,lyft_20_revenue,lyft_20_revenue_final,lyft_20_revenue_min
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,2,1.294099,1.199000,1.75,0.0,4.493099,0.898620,0.898620,0.493099
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,2,2.402407,2.966333,1.75,0.0,7.368741,1.473748,1.473748,1.473748
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,2,2.345241,2.097333,1.75,0.0,6.442575,1.288515,1.288515,1.288515
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,2,46.649722,12.239333,1.75,0.0,60.889055,12.177811,12.177811,12.177811
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,2,2.940484,3.017667,1.75,0.0,7.958150,1.591630,1.591630,1.591630

In [123]:
#add the maximum fare condition

lifetime_revenue_df["lyft_20_revenue_final"]= np.where(lifetime_revenue_df["lyft_20_revenue"] > 80, (80 + (lifetime_revenue_df["final_driver_revenue_before_commission$"]-400)),lifetime_revenue_df["lyft_20_revenue_min"])

In [127]:
lifetime_revenue_df[lifetime_revenue_df["lyft_20_revenue"]>80]

,driver_id,ride_id,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,cost_waiting_time$,final_driver_revenue_before_commission$,lyft_20_revenue,lyft_20_revenue_final,lyft_20_revenue_min
1921,02d6a6b8a6da15fc219a9570f7ebbe78,e7f8524051edb7b28e86391f6461bc03,2,517.838852,103.414667,1.75,0.0,623.253519,124.650704,303.253519,124.650704

,driver_id,ride_id,base_fare$,distance_ride_revenue$,duration_ride_revenue$,service_fee$,cost_waiting_time$,final_driver_revenue_before_commission$,lyft_20_revenue,lyft_20_revenue_final,lyft_20_revenue_min
1921,02d6a6b8a6da15fc219a9570f7ebbe78,e7f8524051edb7b28e86391f6461bc03,2,517.838852,103.414667,1.75,0.0,623.253519,124.650704,303.253519,124.650704

In [ ]:
#check drivers average
#take outliers

In [ ]:
#which cluster gives more value? for advertisement terms

In [ ]:
total_revenue_df.head()

In [ ]:
total_revenue_df["cost_waiting_time$"].value_counts()

In [ ]:
# need to merge waiting_time2 and riderid

# Projected lifetime

In [ ]:
# What is the average projected lifetime of a driver? That is, once a driver is onboarded,
#how long does he/she typically continue driving with Lyft.

In [ ]:
#merge 

mergeids=driverid.merge(riderid, left_on="driver_id", right_on="driver_id")

In [ ]:
mergeids.head()

In [ ]:
mergeids2=mergeids.merge(timedif, left_on="ride_id", right_on="ride_id")

In [ ]:
mergeids2.head()

In [ ]:
onboarding_lastridedf = mergeids2.drop(["ride_distance","ride_duration","ride_prime_time","ride_duration_min","ride_distance_miles","base_fare$","duration_ride_revenue$","distance_ride_revenue$","service_fee$","driver_revenue_before_commission$","month","day","weekday","hour"], axis=1)

onboarding_lastridedf.head()

In [ ]:
#check the date difference

last_ride = onboarding_lastridedf.sort_values('timestamp').groupby(['driver_id'], as_index=False).last()

In [ ]:
last_ride.head()

In [ ]:
last_ride.dtypes

In [ ]:
last_ride['timestamp'] = last_ride['timestamp'].dt.date
last_ride['driver_onboard_date'] = last_ride['driver_onboard_date'].dt.date

In [ ]:
last_ride["time_onboard_to_last_ride"]=last_ride["timestamp"]-last_ride["driver_onboard_date"]

In [ ]:
last_ride

In [ ]:
#import ploting and stats lib

import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [ ]:
#convert into int to plot

last_ride["time_onboard_to_last_ride"]=last_ride["time_onboard_to_last_ride"].dt.days

In [ ]:
last_ride.dtypes

In [ ]:
#check min for reference

meanline=last_ride["time_onboard_to_last_ride"].mean()
meanline

In [ ]:
#plot checking for trends

fig, ax = plt.subplots(figsize=(10,6))
sns.barplot(data=last_ride,
                x="driver_id",
                y="time_onboard_to_last_ride",
                order=last_ride.sort_values('time_onboard_to_last_ride').driver_id,
                palette="rocket",
                ax=ax);
ax.axhline (meanline, color="black")
plt.xlabel("Drivers", size=10)
plt.ylabel("Time from onboarding until last ride (days)", size=10)
plt.title("Driver`s lifetime (days)", size=15)

In [ ]:
#plot
#take outliers - only when clustering by money generated?

In [ ]:
#  What are the main factors that affect a driver’s lifetime value?

# time, distance etc?

In [ ]:
#check how much the ones staying longer earned and how many drives

In [ ]:
# merge lifetime_revenue_df and last_ride to know how much the drives staying longer earned in average - scatter plot with average time and earning

In [ ]:
#drivers churn in 1, 2 or 3 months perspective?

In [ ]:
# drivers at friday and saturday night probably add more value - more rides at least, check if more money?