# Driver file

In [1]:

#importing libraries

import pandas as pd
import numpy as np

In [2]:
#importing driver id file

driverid=pd.read_csv("data/driver_ids.csv")

In [3]:
#check file

driverid.head(10)

                          driver_id  driver_onboard_date
0  002be0ffdc997bd5c50703158b7c2491  2016-03-29 00:00:00
1  007f0389f9c7b03ef97098422f902e62  2016-03-29 00:00:00
2  011e5c5dfc5c2c92501b8b24d47509bc  2016-04-05 00:00:00
3  0152a2f305e71d26cc964f8d4411add9  2016-04-23 00:00:00
4  01674381af7edd264113d4e6ed55ecda  2016-04-29 00:00:00
5  01788cf817698fe68eaecd7eb18b2f72  2016-05-06 00:00:00
6  0213f8b59219e32142711992ca4ec01f  2016-04-07 00:00:00
7  021e5cd15ef0bb3ec20a12af99e142b3  2016-05-07 00:00:00
8  0258e250ca195cc6258cbdc75aecd853  2016-04-26 00:00:00
9  028b5a4dcd7f4924ebfabcf2e814c014  2016-05-06 00:00:00

                          driver_id  driver_onboard_date
0  002be0ffdc997bd5c50703158b7c2491  2016-03-29 00:00:00
1  007f0389f9c7b03ef97098422f902e62  2016-03-29 00:00:00
2  011e5c5dfc5c2c92501b8b24d47509bc  2016-04-05 00:00:00
3  0152a2f305e71d26cc964f8d4411add9  2016-04-23 00:00:00
4  01674381af7edd264113d4e6ed55ecda  2016-04-29 00:00:00
5  01788cf817698fe68eaecd7eb18b2f72  2016-05-06 00:00:00
6  0213f8b59219e32142711992ca4ec01f  2016-04-07 00:00:00
7  021e5cd15ef0bb3ec20a12af99e142b3  2016-05-07 00:00:00
8  0258e250ca195cc6258cbdc75aecd853  2016-04-26 00:00:00
9  028b5a4dcd7f4924ebfabcf2e814c014  2016-05-06 00:00:00

In [4]:
#check the types

driverid.dtypes

driver_id              object
driver_onboard_date    object
dtype: object

driver_id              object
driver_onboard_date    object
dtype: object

In [5]:
#check dataframe size

driverid.index

RangeIndex(start=0, stop=937, step=1)

RangeIndex(start=0, stop=937, step=1)

In [6]:
#check nulls

driverid.isnull().value_counts()

driver_id  driver_onboard_date
False      False                  937
dtype: int64

driver_id  driver_onboard_date
False      False                  937
dtype: int64

In [7]:
#check if driver is unique


driverid['driver_id'].value_counts().sort_values(ascending=False)

afc7a3f83a5e5cc87136bceacceed8af    1
38510028b6d34d1b1339fa4e70783563    1
370412f2a2747c1fdf8e807374c04a3d    1
30e91f4104a6b5b0450588d8febddd93    1
557b608dc1196be486e4928b62098895    1
                                   ..
eeb00fe9de3e348006f6f7128e6cf4e3    1
b8df3a1ffca045016321353536ac86cf    1
cea2a4389f823240e8dfbc3ea95e42f0    1
1936275dcb0942dc60a378839fae4730    1
fdbee494c73577d5b1266d1fec5c6c9a    1
Name: driver_id, Length: 937, dtype: int64

afc7a3f83a5e5cc87136bceacceed8af    1
38510028b6d34d1b1339fa4e70783563    1
370412f2a2747c1fdf8e807374c04a3d    1
30e91f4104a6b5b0450588d8febddd93    1
557b608dc1196be486e4928b62098895    1
                                   ..
eeb00fe9de3e348006f6f7128e6cf4e3    1
b8df3a1ffca045016321353536ac86cf    1
cea2a4389f823240e8dfbc3ea95e42f0    1
1936275dcb0942dc60a378839fae4730    1
fdbee494c73577d5b1266d1fec5c6c9a    1
Name: driver_id, Length: 937, dtype: int64

In [8]:
#change to date time

driverid['driver_onboard_date']=pd.to_datetime(driverid['driver_onboard_date'],errors='coerce')

In [9]:
#confirm

driverid.dtypes

driver_id                      object
driver_onboard_date    datetime64[ns]
dtype: object

driver_id                      object
driver_onboard_date    datetime64[ns]
dtype: object

In [10]:
#check the year

driverid['driver_onboard_date'].dt.year.value_counts()

2016    937
Name: driver_onboard_date, dtype: int64

2016    937
Name: driver_onboard_date, dtype: int64

In [11]:
#check the month for seasonality

driverid['driver_onboard_date'].dt.month.value_counts()

4    591
5    239
3    107
Name: driver_onboard_date, dtype: int64

4    591
5    239
3    107
Name: driver_onboard_date, dtype: int64

In [12]:
#check the day for seasonality

driverid['driver_onboard_date'].dt.day.value_counts()

29    57
5     56
4     50
6     50
12    45
30    44
13    42
11    41
28    38
7     36
14    36
9     34
8     32
31    30
15    29
1     27
10    25
21    24
26    23
20    22
2     22
19    21
22    21
23    20
3     18
17    17
25    17
18    16
27    16
16    15
24    13
Name: driver_onboard_date, dtype: int64

29    57
5     56
4     50
6     50
12    45
30    44
13    42
11    41
28    38
7     36
14    36
9     34
8     32
31    30
15    29
1     27
10    25
21    24
26    23
20    22
2     22
19    21
22    21
23    20
3     18
17    17
25    17
18    16
27    16
16    15
24    13
Name: driver_onboard_date, dtype: int64

# Rider id

In [13]:
#importing driver id file
riderid=pd.read_csv("data/ride_ids.csv")

In [14]:
#check file

riderid.head(10)

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100
5,002be0ffdc997bd5c50703158b7c2491,03d6b9d80b8a96135cb9b25178e9e203,4832,917,100
6,002be0ffdc997bd5c50703158b7c2491,04053c0ed21761e07f0b869cab5b7dd0,1575,347,0
7,002be0ffdc997bd5c50703158b7c2491,0534d432e0186625f623aaee57af98be,3056,687,25
8,002be0ffdc997bd5c50703158b7c2491,053a1621c0affcd2b9c517af5c2bc843,3940,1143,75
9,002be0ffdc997bd5c50703158b7c2491,066e92c52f59486de56cd7b8716a4ca6,3957,868,50

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100
5,002be0ffdc997bd5c50703158b7c2491,03d6b9d80b8a96135cb9b25178e9e203,4832,917,100
6,002be0ffdc997bd5c50703158b7c2491,04053c0ed21761e07f0b869cab5b7dd0,1575,347,0
7,002be0ffdc997bd5c50703158b7c2491,0534d432e0186625f623aaee57af98be,3056,687,25
8,002be0ffdc997bd5c50703158b7c2491,053a1621c0affcd2b9c517af5c2bc843,3940,1143,75
9,002be0ffdc997bd5c50703158b7c2491,066e92c52f59486de56cd7b8716a4ca6,3957,868,50

In [15]:
#check the types

riderid.dtypes

driver_id          object
ride_id            object
ride_distance       int64
ride_duration       int64
ride_prime_time     int64
dtype: object

driver_id          object
ride_id            object
ride_distance       int64
ride_duration       int64
ride_prime_time     int64
dtype: object

In [16]:
#check null values

def ridenulls(column):
    return riderid.loc[riderid[column].isnull()]

In [17]:
#call function
#check!!

ridenulls('ride_prime_time')

Empty DataFrame
Columns: [driver_id, ride_id, ride_distance, ride_duration, ride_prime_time]
Index: []

Empty DataFrame
Columns: [driver_id, ride_id, ride_distance, ride_duration, ride_prime_time]
Index: []

In [18]:
# distance is in meters and duration in seconds, needs conversion

In [19]:
"""Base Fare $2.00
Cost per Mile $1.15
Cost per Minute $0.22
Service Fee $1.75
Minimum Fare $5.00
Maximum Fare $400.00"""

'Base Fare $2.00\nCost per Mile $1.15\nCost per Minute $0.22\nService Fee $1.75\nMinimum Fare $5.00\nMaximum Fare $400.00'

'Base Fare $2.00\nCost per Mile $1.15\nCost per Minute $0.22\nService Fee $1.75\nMinimum Fare $5.00\nMaximum Fare $400.00'

In [20]:
#check column names

riderid.columns

Index(['driver_id', 'ride_id', 'ride_distance', 'ride_duration',
       'ride_prime_time'],
      dtype='object')

Index(['driver_id', 'ride_id', 'ride_distance', 'ride_duration',
       'ride_prime_time'],
      dtype='object')

In [21]:
riderid.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100

In [22]:
#inser columns with the duration in minutes

riderid["ride_duration_min"]=riderid["ride_duration"]/60

In [23]:
# insert column with the conversion to miles
#1 mile = 1 609.344 meters

riderid["ride_distance_miles"]=riderid["ride_distance"]/1609.344

In [24]:
riderid.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942

In [25]:
test=riderid.loc[riderid['ride_id']=="00003037a262d9ee40e61b5c0718f7f0"]

In [26]:
test

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles
167241,d967f5296732fa55266b5f1314e7447b,00003037a262d9ee40e61b5c0718f7f0,3698,1112,0,18.533333,2.297831

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles
167241,d967f5296732fa55266b5f1314e7447b,00003037a262d9ee40e61b5c0718f7f0,3698,1112,0,18.533333,2.297831

In [27]:
#the duration is the time difference between picked_up_at and dropped_off_at

In [28]:
np.where(riderid.ride_id == "00003037a262d9ee40e61b5c0718f7f0", riderid.ride_duration_min, "fail")

array(['fail', 'fail', 'fail', ..., 'fail', 'fail', 'fail'], dtype='<U32')

array(['fail', 'fail', 'fail', ..., 'fail', 'fail', 'fail'], dtype='<U32')

In [29]:
"""Base Fare $2.00
Cost per Mile $1.15
Cost per Minute $0.22
Service Fee $1.75
Minimum Fare $5.00
Maximum Fare $400.00"""

'Base Fare $2.00\nCost per Mile $1.15\nCost per Minute $0.22\nService Fee $1.75\nMinimum Fare $5.00\nMaximum Fare $400.00'

'Base Fare $2.00\nCost per Mile $1.15\nCost per Minute $0.22\nService Fee $1.75\nMinimum Fare $5.00\nMaximum Fare $400.00'

In [30]:
#adding the rates

In [31]:
#adding base fare and service fee

riderid["base_fare$"]=2

In [32]:
riderid["duration_ride_revenue$"]=riderid["ride_duration_min"]*0.22

In [33]:
riderid.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles,base_fare$,duration_ride_revenue$
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303,2,1.199000
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050,2,2.966333
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340,2,2.097333
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976,2,12.239333
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942,2,3.017667

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_duration_min,ride_distance_miles,base_fare$,duration_ride_revenue$
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.450000,1.125303,2,1.199000
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,13.483333,2.089050,2,2.966333
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,9.533333,2.039340,2,2.097333
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,55.633333,40.564976,2,12.239333
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,13.716667,2.556942,2,3.017667

In [34]:
#put the total of the ride and take the 20% and service fee for the ride and service fee
# group by driver id
#take off possible outliers check plot
#check if the ride id is indeed the unique one
#drop some columns 
#check better the prime time

In [35]:
# riderid["total_price_mile$"]

# Rider Time stamps

In [36]:
#importing driver id file

ridertime=pd.read_csv("data/ride_timestamps.csv")

In [37]:
#check file

ridertime.head(10)

                            ride_id           event            timestamp
0  00003037a262d9ee40e61b5c0718f7f0    requested_at  2016-06-13 09:39:19
1  00003037a262d9ee40e61b5c0718f7f0     accepted_at  2016-06-13 09:39:51
2  00003037a262d9ee40e61b5c0718f7f0      arrived_at  2016-06-13 09:44:31
3  00003037a262d9ee40e61b5c0718f7f0    picked_up_at  2016-06-13 09:44:33
4  00003037a262d9ee40e61b5c0718f7f0  dropped_off_at  2016-06-13 10:03:05
5  00005eae40882760d675da5effb89ae3    requested_at  2016-05-14 05:23:21
6  00005eae40882760d675da5effb89ae3     accepted_at  2016-05-14 05:23:25
7  00005eae40882760d675da5effb89ae3      arrived_at  2016-05-14 05:26:17
8  00005eae40882760d675da5effb89ae3    picked_up_at  2016-05-14 05:26:18
9  00005eae40882760d675da5effb89ae3  dropped_off_at  2016-05-14 05:34:17

                            ride_id           event            timestamp
0  00003037a262d9ee40e61b5c0718f7f0    requested_at  2016-06-13 09:39:19
1  00003037a262d9ee40e61b5c0718f7f0     accepted_at  2016-06-13 09:39:51
2  00003037a262d9ee40e61b5c0718f7f0      arrived_at  2016-06-13 09:44:31
3  00003037a262d9ee40e61b5c0718f7f0    picked_up_at  2016-06-13 09:44:33
4  00003037a262d9ee40e61b5c0718f7f0  dropped_off_at  2016-06-13 10:03:05
5  00005eae40882760d675da5effb89ae3    requested_at  2016-05-14 05:23:21
6  00005eae40882760d675da5effb89ae3     accepted_at  2016-05-14 05:23:25
7  00005eae40882760d675da5effb89ae3      arrived_at  2016-05-14 05:26:17
8  00005eae40882760d675da5effb89ae3    picked_up_at  2016-05-14 05:26:18
9  00005eae40882760d675da5effb89ae3  dropped_off_at  2016-05-14 05:34:17

In [38]:
#check it out!!! https://stackoverflow.com/questions/58832688/calculate-time-difference-between-two-events-while-disregarding-unmatched-events

In [39]:
# check types

ridertime.dtypes

ride_id      object
event        object
timestamp    object
dtype: object

ride_id      object
event        object
timestamp    object
dtype: object

In [40]:
#change timestamp to correct type

ridertime['timestamp']=pd.to_datetime(ridertime['timestamp'],errors='coerce')

In [41]:
ridertime.dtypes

ride_id              object
event                object
timestamp    datetime64[ns]
dtype: object

ride_id              object
event                object
timestamp    datetime64[ns]
dtype: object

In [42]:
#add month

ridertime["month"]=ridertime["timestamp"].dt.month

In [43]:
# check variation

ridertime["month"].value_counts()

5.0    418294
6.0    346486
4.0    199384
3.0      6240
Name: month, dtype: int64

5.0    418294
6.0    346486
4.0    199384
3.0      6240
Name: month, dtype: int64

In [44]:
#add day

ridertime["day"]=ridertime["timestamp"].dt.day

In [45]:
# check variation

ridertime["day"].value_counts()

21.0    37040
25.0    36783
15.0    36674
14.0    36555
20.0    36346
26.0    36057
16.0    35572
24.0    35458
17.0    35308
22.0    35098
13.0    34828
23.0    34293
11.0    33543
19.0    32878
10.0    32777
18.0    32595
12.0    32518
7.0     31627
9.0     30766
6.0     30721
4.0     29479
5.0     28832
8.0     28702
3.0     28685
28.0    26637
27.0    26557
2.0     25821
29.0    25775
1.0     24408
30.0    24026
31.0    14045
Name: day, dtype: int64

21.0    37040
25.0    36783
15.0    36674
14.0    36555
20.0    36346
26.0    36057
16.0    35572
24.0    35458
17.0    35308
22.0    35098
13.0    34828
23.0    34293
11.0    33543
19.0    32878
10.0    32777
18.0    32595
12.0    32518
7.0     31627
9.0     30766
6.0     30721
4.0     29479
5.0     28832
8.0     28702
3.0     28685
28.0    26637
27.0    26557
2.0     25821
29.0    25775
1.0     24408
30.0    24026
31.0    14045
Name: day, dtype: int64

In [46]:
#add weekday
# Monday=0, Sunday=6

ridertime["weekday"]=ridertime["timestamp"].dt.weekday

In [47]:
# check variation

ridertime["weekday"].value_counts()

4.0    170113
5.0    160010
3.0    149367
2.0    137032
1.0    125905
6.0    120157
0.0    107820
Name: weekday, dtype: int64

4.0    170113
5.0    160010
3.0    149367
2.0    137032
1.0    125905
6.0    120157
0.0    107820
Name: weekday, dtype: int64

In [48]:
# 4 and 5, Friday and Saturday

In [49]:
#add hour

ridertime["hour"]=ridertime["timestamp"].dt.hour

In [50]:
# check variation

ridertime["hour"].value_counts()

19.0    70891
18.0    68947
20.0    64591
21.0    64444
22.0    60147
17.0    57222
23.0    48933
9.0     48835
16.0    48074
8.0     44248
10.0    43713
15.0    43087
11.0    41531
12.0    41165
14.0    40080
13.0    39577
0.0     34220
7.0     32742
1.0     24602
6.0     16653
2.0     15173
5.0      8174
3.0      7371
4.0      5984
Name: hour, dtype: int64

19.0    70891
18.0    68947
20.0    64591
21.0    64444
22.0    60147
17.0    57222
23.0    48933
9.0     48835
16.0    48074
8.0     44248
10.0    43713
15.0    43087
11.0    41531
12.0    41165
14.0    40080
13.0    39577
0.0     34220
7.0     32742
1.0     24602
6.0     16653
2.0     15173
5.0      8174
3.0      7371
4.0      5984
Name: hour, dtype: int64

In [51]:
#night time more popular

In [52]:
ridertime.head()

,ride_id,event,timestamp,month,day,weekday,hour
0,00003037a262d9ee40e61b5c0718f7f0,requested_at,2016-06-13 09:39:19,6.0,13.0,0.0,9.0
1,00003037a262d9ee40e61b5c0718f7f0,accepted_at,2016-06-13 09:39:51,6.0,13.0,0.0,9.0
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,6.0,13.0,0.0,9.0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,6.0,13.0,0.0,9.0
4,00003037a262d9ee40e61b5c0718f7f0,dropped_off_at,2016-06-13 10:03:05,6.0,13.0,0.0,10.0

,ride_id,event,timestamp,month,day,weekday,hour
0,00003037a262d9ee40e61b5c0718f7f0,requested_at,2016-06-13 09:39:19,6.0,13.0,0.0,9.0
1,00003037a262d9ee40e61b5c0718f7f0,accepted_at,2016-06-13 09:39:51,6.0,13.0,0.0,9.0
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,6.0,13.0,0.0,9.0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,6.0,13.0,0.0,9.0
4,00003037a262d9ee40e61b5c0718f7f0,dropped_off_at,2016-06-13 10:03:05,6.0,13.0,0.0,10.0

In [53]:
#create a groupby to have the total ride time , or a merge for the event time since request and drop off can be different hours

## 3.1: checking time between events

In [156]:
timedif=ridertime.copy()

In [157]:
timedif.head()

,ride_id,event,timestamp,month,day,weekday,hour
0,00003037a262d9ee40e61b5c0718f7f0,requested_at,2016-06-13 09:39:19,6.0,13.0,0.0,9.0
1,00003037a262d9ee40e61b5c0718f7f0,accepted_at,2016-06-13 09:39:51,6.0,13.0,0.0,9.0
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,6.0,13.0,0.0,9.0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,6.0,13.0,0.0,9.0
4,00003037a262d9ee40e61b5c0718f7f0,dropped_off_at,2016-06-13 10:03:05,6.0,13.0,0.0,10.0

,ride_id,event,timestamp,month,day,weekday,hour
0,00003037a262d9ee40e61b5c0718f7f0,requested_at,2016-06-13 09:39:19,6.0,13.0,0.0,9.0
1,00003037a262d9ee40e61b5c0718f7f0,accepted_at,2016-06-13 09:39:51,6.0,13.0,0.0,9.0
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,6.0,13.0,0.0,9.0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,6.0,13.0,0.0,9.0
4,00003037a262d9ee40e61b5c0718f7f0,dropped_off_at,2016-06-13 10:03:05,6.0,13.0,0.0,10.0

In [158]:
#most_recent_per_code = timedif.sort_values('timestamp').groupby(['ride_id'], as_index=False).last()

In [159]:
# driver pay includes time spent waiting, starting one minute after arrival is confirmed
# check difference arrived at and picked up at

waiting_time=timedif.groupby(['ride_id'], as_index=False).nth([2,3])

In [160]:
#check if right

waiting_time.head()

,ride_id,event,timestamp,month,day,weekday,hour
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,6.0,13.0,0.0,9.0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,6.0,13.0,0.0,9.0
7,00005eae40882760d675da5effb89ae3,arrived_at,2016-05-14 05:26:17,5.0,14.0,5.0,5.0
8,00005eae40882760d675da5effb89ae3,picked_up_at,2016-05-14 05:26:18,5.0,14.0,5.0,5.0
12,000061d42cf29f73b591041d9a1b2973,arrived_at,2016-05-16 15:47:29,5.0,16.0,0.0,15.0

,ride_id,event,timestamp,month,day,weekday,hour
2,00003037a262d9ee40e61b5c0718f7f0,arrived_at,2016-06-13 09:44:31,6.0,13.0,0.0,9.0
3,00003037a262d9ee40e61b5c0718f7f0,picked_up_at,2016-06-13 09:44:33,6.0,13.0,0.0,9.0
7,00005eae40882760d675da5effb89ae3,arrived_at,2016-05-14 05:26:17,5.0,14.0,5.0,5.0
8,00005eae40882760d675da5effb89ae3,picked_up_at,2016-05-14 05:26:18,5.0,14.0,5.0,5.0
12,000061d42cf29f73b591041d9a1b2973,arrived_at,2016-05-16 15:47:29,5.0,16.0,0.0,15.0

In [161]:
#check time difference between requested and dropped of

waiting_time2=waiting_time.groupby(['ride_id'], as_index=False).timestamp.diff()

In [162]:
# introduce the ride id again

waiting_time2['rideid']=waiting_time['ride_id']

In [163]:
waiting_time2.head()

         timestamp                            rideid
2              NaT  00003037a262d9ee40e61b5c0718f7f0
3  0 days 00:00:02  00003037a262d9ee40e61b5c0718f7f0
7              NaT  00005eae40882760d675da5effb89ae3
8  0 days 00:00:01  00005eae40882760d675da5effb89ae3
12             NaT  000061d42cf29f73b591041d9a1b2973

         timestamp                            rideid
2              NaT  00003037a262d9ee40e61b5c0718f7f0
3  0 days 00:00:02  00003037a262d9ee40e61b5c0718f7f0
7              NaT  00005eae40882760d675da5effb89ae3
8  0 days 00:00:01  00005eae40882760d675da5effb89ae3
12             NaT  000061d42cf29f73b591041d9a1b2973

In [164]:
#waiting_time2["timestamp"]=pd.to_datetime(waiting_time2["timestamp"],errors='coerce')

In [165]:
#waiting_time2["timestamp"].sort_values(ascending=False)

In [166]:
#waiting_time2['timestamp']=drop_cols = list(null_columns[null_columns > 5392].index)
#csharks = csharks.drop(drop_cols, axis=1)
#waiting_time2=waiting_time2.drop(waiting_time2[waiting_time2["timestamp"] == "NaT"].index, inplace=True)

In [167]:
waiting_time2=waiting_time2.dropna()

In [168]:
waiting_time2

             timestamp                            rideid
3      0 days 00:00:02  00003037a262d9ee40e61b5c0718f7f0
8      0 days 00:00:01  00005eae40882760d675da5effb89ae3
13     0 days 00:00:03  000061d42cf29f73b591041d9a1b2973
18     0 days 00:00:04  00006efeb0d5e3ccad7d921ddeee9900
23     0 days 00:00:03  0000d9b24d8ccdd991b76258e616fa01
...                ...                               ...
970383 0 days 00:00:03  fffebb46effb90ce758fdff68b569355
970388 0 days 00:00:02  ffff9c38173ddfa17bdd115c463e329f
970393 0 days 00:00:02  ffff9e431f7fade54b2550ac19ab6e64
970398 0 days 00:00:01  ffffa07f48f2f885f714765d794ad596
970403 0 days 00:00:06  ffffccd77f47a3de26dfed9a851464b4

[194081 rows x 2 columns]

             timestamp                            rideid
3      0 days 00:00:02  00003037a262d9ee40e61b5c0718f7f0
8      0 days 00:00:01  00005eae40882760d675da5effb89ae3
13     0 days 00:00:03  000061d42cf29f73b591041d9a1b2973
18     0 days 00:00:04  00006efeb0d5e3ccad7d921ddeee9900
23     0 days 00:00:03  0000d9b24d8ccdd991b76258e616fa01
...                ...                               ...
970383 0 days 00:00:03  fffebb46effb90ce758fdff68b569355
970388 0 days 00:00:02  ffff9c38173ddfa17bdd115c463e329f
970393 0 days 00:00:02  ffff9e431f7fade54b2550ac19ab6e64
970398 0 days 00:00:01  ffffa07f48f2f885f714765d794ad596
970403 0 days 00:00:06  ffffccd77f47a3de26dfed9a851464b4

[194081 rows x 2 columns]

In [169]:
waiting_time2['waiting_minutes'] = waiting_time2['timestamp'].dt.total_seconds().div(60).astype(int)

In [170]:
waiting_time2.sort_values(by=['waiting_minutes'], ascending=False)

,timestamp,rideid,waiting_minutes
775388,0 days 00:13:51,ccc322deb9027f2652c5b784f46301b7,13
500398,0 days 00:11:23,845063fbad82733755a21d025b3da831,11
864318,0 days 00:07:06,e40251551258dc1c387039892e3bd277,7
30883,0 days 00:05:11,0812d4aa653b5ca9d32a360c9d9f68b9,5
179278,0 days 00:05:10,2f7a5d23e08e6042e3e8efb11d3e4701,5
...,...,...,...
755538,-1 days +23:16:22,c7975399543ee7bf0a1f9cd869d0d80f,-43
513378,-1 days +23:15:24,87b6e22b8618d40283d93802698fdcbf,-44
175918,-1 days +23:09:11,2e8b3bf2654e9ea4787d8efd2f2291bd,-50
692263,-1 days +23:02:04,b6c1bfcb6a1bacfc3733fc24847803f2,-57
434223,-89841 days +12:15:03.145224192,72f0fa0bd86800e9da5c4dced32c8735,-129370304

,timestamp,rideid,waiting_minutes
775388,0 days 00:13:51,ccc322deb9027f2652c5b784f46301b7,13
500398,0 days 00:11:23,845063fbad82733755a21d025b3da831,11
864318,0 days 00:07:06,e40251551258dc1c387039892e3bd277,7
30883,0 days 00:05:11,0812d4aa653b5ca9d32a360c9d9f68b9,5
179278,0 days 00:05:10,2f7a5d23e08e6042e3e8efb11d3e4701,5
...,...,...,...
755538,-1 days +23:16:22,c7975399543ee7bf0a1f9cd869d0d80f,-43
513378,-1 days +23:15:24,87b6e22b8618d40283d93802698fdcbf,-44
175918,-1 days +23:09:11,2e8b3bf2654e9ea4787d8efd2f2291bd,-50
692263,-1 days +23:02:04,b6c1bfcb6a1bacfc3733fc24847803f2,-57
434223,-89841 days +12:15:03.145224192,72f0fa0bd86800e9da5c4dced32c8735,-129370304

In [171]:
#only keep minutes >=1

waiting_time2['waiting_minutes'] = np.where(waiting_time2['waiting_minutes'] >= 1, waiting_time2['waiting_minutes'], "Not relevant")

#csharks.drop(csharks[csharks['Year'] == 'Not relevant'].index, inplace=True)

In [172]:
#drop non relevant

waiting_time2.drop(waiting_time2[waiting_time2['waiting_minutes'] == 'Not relevant'].index, inplace=True)

In [173]:
waiting_time2["waiting_minutes"].value_counts()

1     3780
2       19
3        8
5        5
11       1
7        1
13       1
Name: waiting_minutes, dtype: int64

1     3780
2       19
3        8
5        5
11       1
7        1
13       1
Name: waiting_minutes, dtype: int64

In [174]:
waiting_time2.head()

           timestamp                            rideid waiting_minutes
78   0 days 00:01:00  000399d2e73490f5ac5e65eae391f6f8               1
608  0 days 00:01:00  002a1cf462fee4f6c9d8da11fca4830a               1
708  0 days 00:01:00  003115b37c952878769e2f2a585cf664               1
1033 0 days 00:01:00  0046dbc3563e3f59405c1a5360863942               1
1183 0 days 00:01:00  004edbe47f7b98f0ceb65dd3f40b60c3               1

           timestamp                            rideid waiting_minutes
78   0 days 00:01:00  000399d2e73490f5ac5e65eae391f6f8               1
608  0 days 00:01:00  002a1cf462fee4f6c9d8da11fca4830a               1
708  0 days 00:01:00  003115b37c952878769e2f2a585cf664               1
1033 0 days 00:01:00  0046dbc3563e3f59405c1a5360863942               1
1183 0 days 00:01:00  004edbe47f7b98f0ceb65dd3f40b60c3               1

In [ ]:
#waiting_time2['timestamp'] = np.where(waiting_time2['timestamp']==np.timedelta64('NaT'), "Not relevant", waiting_time2['timestamp'])

#eliminating the Not relevant 

#test=waiting_time2.drop(waiting_time2[waiting_time2['timestamp'] == "Not relevant"].index, inplace=True)

In [67]:
test

In [ ]:
waiting_time3=pd.DataFrame(data=waiting_time2)

In [ ]:
waiting_time3.dtypes

In [ ]:
# take the minutes

#waiting_time3['timestamp']=pd.to_datetime(waiting_time3['timestamp'],errors='coerce')
#waiting_time3["minutes"]=waiting_time3["timestamp"].dt.minute

In [ ]:
waiting_time3

In [ ]:
#check

waiting_time3["minutes"].value_counts()

# BREAK

In [ ]:
#keeping first and last event of the same ride

first_last_code = timedif.groupby(['ride_id'], as_index=False).nth([0,-1])

In [ ]:
first_last_code

In [ ]:
first_last_code.dtypes

In [ ]:
#check time difference between requested and dropped of

attempt=first_last_code.groupby(['ride_id'], as_index=False).timestamp.diff()

In [ ]:
attempt['new_ride_id']=first_last_code['ride_id']

In [ ]:
attempt

In [ ]:
attempt1=pd.DataFrame(data=attempt)

In [ ]:
attempt1.head()

In [ ]:
attempt1.dtypes

In [ ]:
first_last_code['time_diff_dropoff_req'] = pd.to_datetime(first_last_code['timestamp'].astype(str)).diff(-1).dt.total_seconds().div(60)

In [ ]:
first_last_code.head()

In [ ]:
#need to transform
#if there is an ideal time difference between requested and accepted OR accepted OR arrived at etc
# also generic from requested to dropped off